#tinymce a { 
	text-decoration: none; 
	color: #f33; 
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out; /* Firefox 4 */
	-webkit-transition: all .3s ease-in-out; /* Safari and Chrome */
	-o-transition: all .3s ease-in-out; /* Opera */
}
#tinymce a:hover { color: #c20000; }

#tinymce { line-height: 22px; font-size: 15px; }

#tinymce p { 
	font-size: 15px; 
	line-height:22px; 
	font-family: "Quicksand", sans-serif;
}

#tinymce h2, #tinymce h3 { margin-bottom: 20px; }

#tinymce h2 {
	font-size: 27px;
	color: #666;
	line-height: 27px;
}
#tinymce h3 {
	text-transform: uppercase;
	font-family: "Quicksand", sans-serif;
	color: #f33;
	font-weight: bold;
	font-size: 17px;
}

#tinymce h4 { font-size: 15px; color: #666; }
#tinymce h1, #tinymce h2, #tinymce h4, #tinymce h5, #tinymce h6 { font-family: "Patua One", serif; font-weight: normal; }


#tinymce ul { margin: 10px 20px; }
#tinymce ul li { margin-bottom: 8px; }

