$landing-blue: #062f87;
$landing-red: #c02426;

.landing-content {
  font-family: $ubuntu-font;
  background-color: #faf9f5;

  .region-content {
    padding: 0;
  }
}

.paragraphs-item-logo-banner {
  padding: 0 20px;

  img {
    display: block;
  }
}


%blue-banner {
  background-color: $landing-blue;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-size: 2.45rem;
  font-weight: bold;
  font-family: $ubuntu-font;
  text-align: center;
  margin-bottom: 4rem;
}


// Ticket banner

.paragraphs-item-banner {
  @extend %blue-banner;

  .content {
    text-align: center;
    overflow: hidden;

    @include bp(mama-bear) {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  a {
    @include redBtn;
    background-color: $landing-red;
    font-family: $ubuntu-font;
    font-size: 1.45rem;
    padding: .5rem 1rem;
    display: inline-block;
    float: none;

    &:hover {
      background-color: darken($landing-red, 10%);
    }

    @include bp(mama-bear) {
      margin-left: 3rem;
    }
  }
}


// Parking widget
.paragraphs-item-parking {
  margin-bottom: 4rem;

  .field-name-field-parking-title {
    @extend %blue-banner;
  }

  a {
    @include redBtn;
    float: none;
    margin-left: 3rem;
    display: inline-block;
    font-family: $ubuntu-font;
    font-size: 1.45rem;
    padding: .5rem 1rem;
    background-color: $landing-blue;

    &:hover {
      background-color: darken($landing-blue, 10%);
    }
  }
}

.paragraphs-items-field-garages {
  padding: 0 3rem;
}

// Garage
.paragraphs-item-parking-garage {
  margin-bottom: 2rem;
}

.field-name-field-parking-garage-headline {
  color: $landing-red;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: .8rem;
}

.field-name-field-parking-address {
  color: $landing-blue;
}


// Tickets
.paragraphs-item-tickets {
  .field-name-field-tickets-title {
    @extend %blue-banner;
  }
}


// Pricing
.paragraphs-items-field-pricing {
  padding: 0 3rem;
  margin-bottom: 4rem;

  .field-items .field-item:first-child {
    .paragraphs-item-pricing  { padding-top: 0; }
  }

  .field-items .field-item:last-child {
    .paragraphs-item-pricing  { border-bottom: 0; padding-bottom: 0; }
  }
}

.field-name-field-price-description {
  margin-bottom: .5rem;

  @include bp(mama-bear) {
    margin-bottom: 0;
  }
}

.field-name-field-price {
  font-weight: bold;
}

.paragraphs-item-pricing {
  padding: 2.5rem 0;
  border-bottom: 1px solid $landing-red;

  .content {
    color: $landing-blue;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    @include bp(mama-bear) {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
  }
}


// About widget
.paragraphs-item-about {
  .field-name-field-about-headline {
    @extend %blue-banner;
  }

  .field-name-field-about-text,
  .field-name-field-about-images,
  .field-name-field-about-links {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .field-name-field-about-text {
    color: $landing-blue;
    font-weight: 500;
    line-height: 1.5;
  }

  // Images
  .field-name-field-about-images {
    margin-bottom: 2rem;

    .field-items {

      @include bp(mama-bear) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .field-item {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;

        @include bp(mama-bear) {
          text-align: left;
          padding: 0 1% 0 1%;
          width: calc(100% / 3 - 6%);
          margin-bottom: 0;
        }

        img {
          display: inline-block;
          border: 5px solid $landing-blue;
        }
      }
    }
  }

  .field-name-field-about-links {
    padding-bottom: 3rem;
    padding-top: 1rem;

    .field-items {
      @include bp(mama-bear) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .field-item {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;

        @include bp(mama-bear) {
          padding: 0 1% 0 1%;
          width: calc(100% / 3 - 6%);
          margin-bottom: 0;
        }
      }
    }
  }

  a {
    color: $landing-red;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      color: darken($landing-red, 10%);
    }
  }
}


// Headliners
.paragraphs-item-headliners {
  .field-name-field-headliners-title {
    @extend %blue-banner;
  }

  img {
    border: 5px solid $landing-blue;
    display: inline-block;
    margin-bottom: 2rem;
  }

  a {
    @include redBtn;
    float: none;
    display: inline-block;
    font-family: $ubuntu-font;
    font-size: 1.45rem;
    padding: .5rem 1rem;
    background-color: $landing-blue;

    &:hover {
      background-color: darken($landing-blue, 10%);
    }
  }

  .field-name-field-headliner {
    padding: 1rem 3rem;

    @include bp(mama-bear) {
      padding: 1rem 7rem;
    }

    > .field-items {
      text-align: center;

      @include bp(mama-bear) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      > .field-item {
        margin-bottom: 5rem;
      }
    }

    .field-name-field-artist-name {
      color: $landing-red;
      font-weight: bold;
      font-size: 2.5rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
  }
}


// Free stages

.paragraphs-item-free-stages {
  .field-name-field-free-stages-title {
    @extend %blue-banner;
  }

  .paragraphs-items-field-free-stages {
    padding: 0 3rem;
  }

  .field-name-field-free-stages {
    margin-bottom: 4rem;

    > .field-items {
      @include bp(mama-bear) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      > .field-item {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;

        @include bp(mama-bear) {
          padding: 0 1% 0 1%;
          width: calc(100% / 4 - 6%);
          margin-bottom: 0;
        }
      }
    }
  }

  .field-name-field-stage-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $landing-red;
  }

  .paragraphs-item-free-stage-bands {
    padding: .5rem 0;
    color: $landing-blue;
  }
}


// Sponsors widget

.paragraphs-item-sponsors {
  margin: 0 3rem;
  border: 10px solid $landing-blue;
  margin-bottom: 4rem;
  background-color: #fff;

  .field-name-field-sponsors-title {
    color: $landing-red;
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
  }

  .field-name-field-sponsor-images {
    padding-bottom: 2rem;

    .field-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .field-item {
        margin: 1rem;
      }
    }
  }
}


// Countdown

.paragraphs-item-countdown {

  .field-name-field-countdown-title {
    color: $landing-red;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-size: 2.5rem;

    @include bp(mama-bear) {
      font-size: 3.5rem;
    }
  }

  .field-name-field-countdown-date {
    .field-items .field-item {
      &:first-child {
        display: none;
      }
    }
  }
}

.c-clock {
  padding: 0 3rem 6rem;

  @include bp(mama-bear) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% - 30px);
    text-align: center;
    // padding: 0 1% 0 1%;
    margin-bottom: 2rem;
    border: 15px solid $landing-blue;
    border-radius: 10px;

    @include bp(mama-bear) {
      margin-bottom: 0;
      width: calc(100% / 3 - 6%);
    }

    span {
      font-size: 9rem;
      text-transform: uppercase;
      color: $landing-red;
      font-weight: bold;
      display: block;
      padding-top: 1rem;
    }
  }

  &__label {
    color: $landing-blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
