/*****  MIXINS  ******/
/* line 76, style.scss */
* {
  margin: 0px;
  padding: 0px;
}

/*
 * 1002px
 */
/* line 85, style.scss */
html {
  overflow-y: auto;
}

/* line 89, style.scss */
html body.admin-menu.html {
  margin: 109px 0px 0px 0px !important;
}

/* line 93, style.scss */
html body.html {
  background: #e7ecf1;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

@media (min-width: 965px) {
  /* line 93, style.scss */
  html body.html {
    margin: 80px 0px 0px 0px;
  }
}

/* line 103, style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika Negative", serif;
  font-weight: normal;
}

/* line 113, style.scss */
a {
  text-decoration: none;
  color: #104676;
  transition: all .25s ease-in-out;
}

/* line 118, style.scss */
a:hover {
  color: #57b7b4;
}

/* line 123, style.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 129, style.scss */
.c-btn {
  background: #104676;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  transition: all .25s ease-in-out;
  text-transform: none;
}

/* line 50, style.scss */
.c-btn:hover {
  background-color: #0a2b49;
  color: white;
  cursor: pointer;
}

/*
 * Header
 */
/* line 137, style.scss */
#header {
  display: none;
}

@media (min-width: 965px) {
  /* line 137, style.scss */
  #header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #104676;
    z-index: 991;
    box-shadow: 0 1px 7px #202020;
  }
}

/* line 155, style.scss */
#block-system-main-menu {
  overflow: hidden;
}

/* line 157, style.scss */
#block-system-main-menu h2 {
  display: none;
}

/* line 162, style.scss */
body.admin-menu #header {
  top: 30px;
}

/* line 166, style.scss */
#header .section {
  width: 970px;
  margin: 0px auto;
  height: 80px;
  position: relative;
}

/* line 173, style.scss */
#mega {
  width: 1006px;
  *width: 1400px;
  position: absolute;
  height: 0px;
  top: 79px;
  left: -20px;
}

/* line 182, style.scss */
.om-maximenu ul.om-menu {
  list-style: none;
  height: auto;
}

@media (min-width: 965px) {
  /* line 182, style.scss */
  .om-maximenu ul.om-menu {
    height: 30px;
  }
}

/* line 191, style.scss */
#header #menu .content ul li.om-leaf,
.om-maximenu ul.om-menu li.om-leaf {
  float: left;
  list-style-type: disc;
  font-weight: 700;
}

/* line 199, style.scss */
#header #menu .content ul li.om-leaf a.om-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  display: block;
  float: left;
  margin: 0px 22px 0px 0px;
  height: 40px;
  line-height: 40px;
  padding: 20px 20px 20px 0px;
  background: url(images/narrow-blue.png) right 52% no-repeat;
}

/* line 212, style.scss */
#header #menu .content ul li.om-leaf:hover a.om-link {
  color: #57b7b4;
  font-weight: 700;
}

/* line 218, style.scss */
#header #menu .content ul li a.link-home {
  background: url("/sites/all/themes/beachstreet/images/narrow-blue.png") no-repeat scroll 21px 52% transparent !important;
  padding-right: 3px !important;
  width: 26px;
}

/* line 225, style.scss */
#menu {
  float: left;
}

/* line 227, style.scss */
#menu .content a {
  color: white;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
}

/* line 232, style.scss */
#menu .content a:hover {
  color: #630000;
}

/* line 235, style.scss */
#menu h2 {
  display: none;
}

/* line 240, style.scss */
.om-menu .block {
  padding: 10px;
  background: url(images/mshadow.png) top right no-repeat;
  height: 350px;
}

/* line 241, style.scss */
.om-menu .block.last {
  background: none;
  padding: 0px;
}

/* line 248, style.scss */
.om-menu .block.first {
  padding: 10px 0px 10px 10px;
  *padding: 0px 0px 10px 0px;
  background: none;
}

/* line 257, style.scss */
#om-maximenu-primary-menu .om-maximenu-content.short .block-menu_block-id-1 {
  height: auto;
}

/* line 260, style.scss */
#om-maximenu-primary-menu .om-maximenu-content.wide .block-menu_block-id-1 {
  background: url(images/mshadow.png) top right no-repeat;
  height: 350px;
}

/* line 265, style.scss */
#om-maximenu-primary-menu .om-menu .block-menu_block-id-1 {
  float: left;
}

/* line 268, style.scss */
#om-maximenu-primary-menu .om-maximenu-middle {
  width: 180px;
  background: #57b7b4;
  box-shadow: 0px 3px 10px #222222;
}

/* line 273, style.scss */
#om-maximenu-primary-menu .om-maximenu-content.wide .om-maximenu-middle {
  width: 1006px;
}

/* line 278, style.scss */
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle {
  width: 1000px;
  margin: 0 0 0 -134px;
}

/* line 282, style.scss */
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle .block-menu .content > ul.menu > li {
  float: left;
  width: 200px;
  margin: 0 18px;
  list-style: none;
}

/* line 287, style.scss */
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle .block-menu .content > ul.menu > li > a {
  font-size: 17px;
  font-weight: bold;
}

/* line 291, style.scss */
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle .block-menu .content > ul.menu > li > ul.menu {
  margin-left: 10px;
}

/* line 293, style.scss */
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle .block-menu .content > ul.menu > li > ul.menu > li {
  list-style-type: disc;
  list-style-image: none;
  color: #fff;
}

/* line 300, style.scss */
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle .block-menu .content > ul.menu > li.first {
  display: none;
}

/* line 305, style.scss */
.om-maximenu-content.wide {
  width: 1006px;
}

/* line 309, style.scss */
.om-maximenu-no-style .om-maximenu-content {
  top: 80px;
  left: -20px;
  background: url(images/mshadow.png) 150px 0px no-repeat;
}

/* line 315, style.scss */
.om-maximenu-content .block .title {
  display: none;
}

/* line 319, style.scss */
.block-views-id-menu_event_list-block {
  display: none;
  float: left;
  width: 840px;
}

/* line 325, style.scss */
.om-maximenu-content .group {
  width: 285px;
  *width: 200px;
  float: left;
  height: 350px;
  padding: 10px 30px 10px 0px;
  background: url(images/mshadow.png) top right no-repeat;
}

/* line 332, style.scss */
.om-maximenu-content .group.group2 {
  padding-right: 0px;
  background: none;
  width: 200px;
}

/* line 337, style.scss */
.om-maximenu-content .group ul li {
  list-style: none;
}

/* line 343, style.scss */
#om-maximenu-primary-menu .om-maximenu-content .group h3 a {
  font-weight: bold;
  font-size: 17px;
}

/* line 347, style.scss */
#om-maximenu-primary-menu .om-maximenu-content .group .views-row {
  line-height: 17px;
}

/* line 352, style.scss */
.om-maximenu-no-style .om-maximenu-middle-right {
  padding: 0px;
  *width: 1200px;
}

/* line 357, style.scss */
.om-maximenu-open {
  display: none;
}

/* line 362, style.scss */
.leaf-info .menu-mlid-260,
.leaf-info .menu-mlid-275,
.leaf-info .menu-mlid-9650,
.leaf-info .menu-mlid-9872,
.leaf-info .menu-mlid-9873 {
  display: none;
}

/* line 372, style.scss */
.leaf-news .menu-mlid-260,
.leaf-news .menu-mlid-9649,
.leaf-news .menu-mlid-9650,
.leaf-news .menu-mlid-9872,
.leaf-news .menu-mlid-9873 {
  display: none;
}

/* line 382, style.scss */
.leaf-media .menu-mlid-260,
.leaf-media .menu-mlid-275,
.leaf-media .menu-mlid-9649,
.leaf-media .menu-mlid-9872,
.leaf-media .menu-mlid-9873 {
  display: none;
}

/* line 392, style.scss */
.leaf-sponsors .menu-mlid-275,
.leaf-sponsors .menu-mlid-9649,
.leaf-sponsors .menu-mlid-9650,
.leaf-sponsors .menu-mlid-9872,
.leaf-sponsors .menu-mlid-9873 {
  display: none;
}

/* line 402, style.scss */
.leaf-events .menu-mlid-260,
.leaf-events .menu-mlid-275,
.leaf-events .menu-mlid-9649,
.leaf-events .menu-mlid-9650,
.leaf-events .menu-mlid-9873,
.leaf-events .menu-mlid-9872 a {
  display: none;
}

/* line 412, style.scss */
.leaf-info .menu-mlid-9649 a,
.leaf-media .menu-mlid-9650 a,
.leaf-news .menu-mlid-275 a,
.leaf-sponsors .menu-mlid-260 a {
  display: none;
}

/* line 419, style.scss */
.block-menu_block ul.menu li {
  list-style: none;
  color: white;
  margin: 0px;
  padding: 0px;
}

/* line 424, style.scss */
.block-menu_block ul.menu li ul {
  *margin-left: 0px;
}

/* line 425, style.scss */
.block-menu_block ul.menu li ul li {
  list-style: disc;
  color: white;
  padding: 0px;
  margin: 0px;
}

/* line 430, style.scss */
.block-menu_block ul.menu li ul li.expanded {
  margin: 0px;
}

/* line 434, style.scss */
.block-menu_block ul.menu li ul li a {
  display: block;
  padding: 3px 0px;
}

/* line 443, style.scss */
.om-maximenu-middle .block-menu_block {
  height: auto;
}

/* line 447, style.scss */
.block-menu_block ul.menu {
  margin-left: 12px;
}

/* line 451, style.scss */
.region-topheader {
  float: right;
}

/* line 455, style.scss */
html body.admin-menu {
  margin-top: 110px;
}

/* line 459, style.scss */
#logo {
  position: absolute;
  left: 50%;
  margin-left: -134px;
  top: 0px;
  z-index: 500;
}

@media (min-width: 965px) {
  /* line 459, style.scss */
  #logo {
    right: 0;
    left: initial;
    margin-left: 0;
  }
}

/* line 473, style.scss */
.logo_wrap {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 965px) {
  /* line 473, style.scss */
  .logo_wrap {
    width: 970px;
  }
}

/* line 482, style.scss */
.front #logo {
  position: absolute;
  left: 50%;
  margin-left: -134px;
  top: 0px;
  z-index: 500;
  width: 268px;
  height: 308px;
  -webkit-animation: slideDown 0.7s ease-in-out;
  -moz-animation: slideDown 0.7s ease-in-out 0s;
}

@media (min-width: 965px) {
  /* line 482, style.scss */
  .front #logo {
    left: auto;
    right: -5px;
    margin-left: 0;
  }
}

/*
 * Search Block
 */
/* line 504, style.scss */
#block-search-form {
  position: absolute;
  top: 27px;
  *top: 27px;
  right: 0px;
  width: 252px;
  height: 26px;
}

/* line 511, style.scss */
#block-search-form .search-form {
  margin-bottom: 0px;
}

/* line 516, style.scss */
#edit-search-block-form--2 {
  /*
* Remove default
*/
  -webkit-appearance: none;
  border: none;
  width: 207px;
  height: 26px;
  *width: 200px;
  *height: 22px;
  float: left;
  display: block;
  padding-left: 9px;
}

/* line 531, style.scss */
#block-search-form input#edit-submit {
  width: 34px;
  height: 26px;
  background: url(images/go.jpg) no-repeat;
  border: 0px;
  text-indent: -9999px;
  float: left;
  font-size: 0;
  display: block;
  line-height: 0;
}

/*
 * Social Icons
 */
/* line 547, style.scss */
#block-block-26 {
  position: absolute;
  top: 27px;
  right: 260px;
}

/* line 553, style.scss */
#fb,
#tw,
#yt {
  width: 26px;
  height: 26px;
  background: url(images/social-icons.png) 0px 0px no-repeat;
  text-indent: -9999px;
  float: left;
  margin-left: 5px;
  list-style: none;
}

/* line 565, style.scss */
#fb a,
#tw a,
#yt a {
  display: block;
}

/* line 571, style.scss */
#fb {
  background-position: 0px -26px;
}

/* line 575, style.scss */
#yt {
  background-position: 0px -52px;
}

/* line 580, style.scss */
#footer #fb,
#footer #tw,
#footer #yt {
  margin-left: 10px;
}

/* line 587, style.scss */
#block-block-32 .content ul {
  margin: 5px 0px 0px 0px;
}

@media (min-width: 965px) {
  /* line 587, style.scss */
  #block-block-32 .content ul {
    margin: 5px 0px 0px 20px;
  }
}

@media (min-width: 0px) and (max-width: 965px) {
  /* line 587, style.scss */
  #block-block-32 .content ul {
    display: inline-block;
  }
}

/*
 * Live the Life
 */
/* line 602, style.scss */
#block-block-40 {
  position: absolute;
  right: -96px;
}

/*
 * Rotator
 */
/* line 611, style.scss */
#hider {
  overflow-x: hidden;
  overflow-y: hidden;
  background: #222222;
  height: 443px;
  position: relative;
}

@media (min-width: 965px) {
  /* line 611, style.scss */
  #hider {
    height: 543px;
  }
}

/* line 623, style.scss */
#rotator-wrapper {
  width: 100%;
  margin: 0px auto;
  height: 443px;
  position: relative;
  overflow: visible;
}

@media (min-width: 965px) {
  /* line 623, style.scss */
  #rotator-wrapper {
    height: 543px;
  }
}

/* line 646, style.scss */
#shadow {
  width: 15px;
  height: 543px;
  background: url(images/top-shadow.png) repeat-y;
  position: absolute;
  left: -15px;
  z-index: 500;
}

/* line 657, style.scss */
#rotator h2 {
  display: none;
}

/*
 * Secondary Rotator
 */
/* line 690, style.scss */
#sec-rotator {
  height: auto;
  background: #faf9f5;
  position: relative;
  overflow: hidden;
  clear: both;
}

@media (min-width: 965px) {
  /* line 690, style.scss */
  #sec-rotator {
    width: 970px;
  }
}

/* line 701, style.scss */
#sec-rotator h2 {
  display: none;
}

/* line 705, style.scss */
#sec-rotator .content img {
  max-width: none;
  height: 374px;
}

@media (min-width: 965px) {
  /* line 705, style.scss */
  #sec-rotator .content img {
    width: 970px;
  }
}

/* line 713, style.scss */
#sec-rotator .content p {
  margin: 0px;
}

/*
 * Content Area
 */
/* line 723, style.scss */
.region-plan-visit .home-tabs-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #104676;
}

/* line 729, style.scss */
.home-tabs-left {
  float: left;
  margin-right: 5px;
  width: 44%;
  margin-top: 10px;
}

/* line 736, style.scss */
.region-plan-visit .home-tabs-left p {
  margin-top: 5px;
}

/* line 740, style.scss */
.home-tabs-right {
  float: right;
  width: 54%;
}

/* line 745, style.scss */
#block-quicktabs-weekly-entertainment-guide h2 {
  display: none;
}

/* line 748, style.scss */
#block-quicktabs-weekly-entertainment-guide .home-tabs-title {
  clear: both;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto 10px;
  text-align: center;
  width: 190px;
}

/* line 758, style.scss */
#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs {
  margin-left: -24px;
  width: 407px;
}

/* line 762, style.scss */
#block-quicktabs-weekly-entertainment-guide {
  margin-top: -66px;
}

/* line 766, style.scss */
#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs li {
  display: block;
  float: left;
  margin: 0 0 11px;
}

/* line 772, style.scss */
#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs li a {
  background: none repeat scroll 0 0 #faf9f5;
  border-left: 1px solid #eeeeee;
  border-radius: 10px 10px 0 0;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #eeeeee;
  color: #1eabce;
  display: block;
  font-family: "Patua One", serif;
  font-size: 20px;
  font-weight: normal;
  margin-right: 3px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 8px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 -2px 7px #cccccc;
  -webkit-box-shadow: 0 -2px 7px #cccccc;
  -moz-box-shadow: 0 -2px 7px #cccccc;
  text-transform: uppercase;
}

/* line 794, style.scss */
#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs li.active a {
  border-bottom: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 800, style.scss */
#block-views-exp-calendar-full-page-1 .content .plan-your-visit-text {
  clear: both;
  font-size: 14px;
  line-height: 19px;
  margin: 5px 0 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* line 809, style.scss */
#wrapper,
.wrapper {
  padding: 0px;
  margin: 0px auto;
  background: url(images/wrap-shadow.png);
}

@media (min-width: 1025px) {
  /* line 809, style.scss */
  #wrapper,
  .wrapper {
    padding: 0px 16px;
    width: 970px;
  }
}

/* line 822, style.scss */
.sprinkle-wrapper {
  background: url("images/loa-sprinkles.png");
  background-repeat: repeat-x;
}

/* line 827, style.scss */
#content {
  background: #faf9f5;
  padding: 20px 0 20px 20px;
  position: relative;
  z-index: 50;
  overflow: hidden;
}

@media (min-width: 965px) {
  /* line 827, style.scss */
  #content {
    background: #faf9f5 url(images/sidebar.jpg) top right repeat-y;
  }
}

/* line 840, style.scss */
.front #content,
#leaderboard {
  background: #faf9f5;
  padding: 20px 0;
  position: relative;
  z-index: 50;
  overflow: hidden;
}

/* line 849, style.scss */
#left {
  position: relative;
}

@media (min-width: 965px) {
  /* line 849, style.scss */
  #left {
    float: left;
    width: 69.5%;
  }
}

/* line 858, style.scss */
p {
  margin: 20px 0px;
}

/* line 862, style.scss */
.sharethis-wrapper {
  float: left;
  clear: both;
}

@media (min-width: 965px) {
  /* line 862, style.scss */
  .sharethis-wrapper {
    float: right;
    margin-bottom: 20px;
  }
}

/* line 874, style.scss */
.field-name-body {
  line-height: 22px;
  font-size: 15px;
}

/* line 877, style.scss */
.field-name-body ul {
  margin: 10px 20px;
}

/* line 879, style.scss */
.field-name-body ul li {
  margin-bottom: 8px;
}

/* line 883, style.scss */
.field-name-body h2,
.field-name-body h3 {
  margin-bottom: 20px;
}

/* line 887, style.scss */
.field-name-body h2 {
  font-size: 27px;
  color: #666666;
  line-height: 27px;
}

/* line 892, style.scss */
.field-name-body h3 {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  color: #104676;
  font-weight: bold;
  font-size: 17px;
}

/* line 899, style.scss */
.field-name-body h4 {
  font-size: 15px;
  color: #666666;
}

/*
 * H2 Styles for Home Page
 */
/* line 919, style.scss */
#block-views-announcement-block-1 h2,
#block-views-photos-home-page-block h2,
#block-views-upcoming-festivals-block h2,
#block-views-instagram-feed-block h2,
#happening h2.main {
  color: #333333;
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  line-height: 1;
  text-align: center;
  padding: 3.2rem 0;
}

/* line 936, style.scss */
.happening {
  padding: 0 2.5rem 3rem 2.5rem;
}

/* line 939, style.scss */
.happening__title {
  font-size: 2.5rem;
  text-align: center;
  padding: 2.6rem 0;
  font-weight: 700;
}

/* line 973, style.scss */
#block-views-announcement-block-1 h3 {
  font-size: 2rem;
  font-weight: normal;
}

/* line 976, style.scss */
#block-views-announcement-block-1 h3 a {
  color: #333333;
}

/* line 981, style.scss */
.stripe {
  width: 100%;
  position: absolute;
  z-index: -100;
  height: 56px;
  *display: none;
  display: none;
}

@media (min-width: 965px) {
  /* line 981, style.scss */
  .stripe {
    display: block;
  }
}

/* line 994, style.scss */
.stripe0 {
  background: #e9cf3e;
}

/* line 998, style.scss */
.stripe1 {
  background: #1996b0;
}

/* line 1002, style.scss */
.stripe2 {
  background: #e00a27;
}

/* line 1006, style.scss */
.stripe3 {
  background: #558ce8;
}

/* line 1010, style.scss */
.stripe4 {
  display: none;
}

/*
 * Home Content Styles
 */
/* line 1035, style.scss */
.region-content-home .views-field-field-icon {
  float: none;
  margin-bottom: 1rem;
  border: 10px solid #c4d8e4;
}

@media (min-width: 965px) {
  /* line 1035, style.scss */
  .region-content-home .views-field-field-icon {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

/* line 1047, style.scss */
.region-content-home .views-field-field-icon img {
  margin-right: 0;
  display: block;
}

/* line 1052, style.scss */
.region-content-home .views-field-created {
  color: #df583c;
  margin-bottom: 15px;
}

/* line 1055, style.scss */
.region-content-home .views-field-created.region-content-home .views-field-body {
  font-size: 16px;
  line-height: 23px;
}

/* line 1060, style.scss */
.region-content-home .views-field-body a {
  text-transform: uppercase;
  font-size: 13px;
  color: #104676;
  font-weight: bold;
}

/* line 1068, style.scss */
#hwrap {
  margin-top: 30px;
  position: relative;
}

/*
 * What's Happening Block
 */
/* line 1089, style.scss */
#ball {
  background: url(images/ball.png) no-repeat;
  width: 153px;
  height: 153px;
  position: absolute;
  top: 14px;
  left: 13px;
}

/* line 1098, style.scss */
#todayon {
  width: 70px;
  height: 55px;
  font-family: "Signika Negative", serif;
  color: white;
  position: absolute;
  top: 85px;
  left: 35px;
}

/* line 1106, style.scss */
#todayon span {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 1111, style.scss */
#todayon span.day {
  position: relative;
  top: -8px;
  left: 20px;
}

/* line 1119, style.scss */
.region-whats-happening {
  margin-bottom: 2rem;
}

/* line 68, style.scss */
.region-whats-happening::after {
  display: block;
  content: "";
  clear: both;
}

@media (min-width: 965px) {
  /* line 1119, style.scss */
  .region-whats-happening {
    width: 45%;
    margin-bottom: 0;
  }
}

/* line 1130, style.scss */
#block-views-today-on-beach-street-usa-block h2 {
  display: none;
}

/* line 1147, style.scss */
#block-views-today-on-beach-street-usa-block .view-content .views-row {
  margin: 10px 0px;
  font-size: 1rem;
}

/* line 1150, style.scss */
#block-views-today-on-beach-street-usa-block .view-content .views-row .views-field-title a {
  color: #df583c;
  font-weight: bold;
}

/* line 1156, style.scss */
#block-views-today-on-beach-street-usa-block .view-footer {
  text-align: center;
}

/* line 1159, style.scss */
#block-views-today-on-beach-street-usa-block .view-footer .calbtn {
  position: absolute;
  top: -77px;
  left: 555px;
  width: 158px;
}

/* line 1165, style.scss */
#block-views-today-on-beach-street-usa-block .view-footer .calbtn a {
  background: url(images/calendar-btn.png) no-repeat;
  display: block;
  height: 37px;
  color: #08596d;
  text-align: center;
  text-shadow: 1px 1px 1px #fbf397;
  font-family: "Signika Negative", serif;
  line-height: 36px;
  font-size: 18px;
}

/*
 * Plan a Visit Block
 */
/* line 1183, style.scss */
#block-block-57,
#block-block-48 {
  clear: both;
  padding: 20px;
  border: 10px solid #eaeaea;
}

@media (min-width: 965px) {
  /* line 1183, style.scss */
  #block-block-57,
  #block-block-48 {
    border: 10px solid #c4d8e4;
    padding: 32px 35px 32px 35px;
  }
}

/* line 1195, style.scss */
#furdd-furdd {
  background: none repeat scroll 0 0 #e1e1e1;
  float: left;
  width: 65%;
}

/* line 1213, style.scss */
#block-block-48 {
  overflow: hidden;
  padding: 20px;
  margin-bottom: 1rem;
}

/* line 1218, style.scss */
#block-block-48 .home-tabs-right img {
  width: 100%;
  height: auto;
}

/* line 1224, style.scss */
.region-plan-visit {
  width: 100%;
}

@media (min-width: 965px) {
  /* line 1224, style.scss */
  .region-plan-visit {
    width: 49%;
  }
}

/* line 1240, style.scss */
.not-front #happening {
  position: absolute;
  top: 45px;
  right: 0px;
  height: auto;
  background: url(images/pat.jpg);
  padding: 10px;
  width: 392px;
}

/* line 1249, style.scss */
.not-front #hwrap {
  background: #faf9f5;
  padding: 15px 15px 5px 15px;
  margin-top: 0px;
}

/* line 1255, style.scss */
.not-front .region-plan-visit h2,
.not-front .region-plan-visit p {
  display: none;
}

/* line 1263, style.scss */
.region-plan-visit h2 {
  text-transform: uppercase;
  color: #57b7b4;
  font-weight: normal;
}

/* line 1268, style.scss */
.region-plan-visit p {
  color: #333333;
  font-size: 13px;
  line-height: 17px;
  margin: 7px 0px;
  font-weight: 600;
}

/* line 1275, style.scss */
.region-plan-visit .description {
  display: none;
}

/* line 1281, style.scss */
#block-views-exp-calendar-full-page-1 #edit-field-date-value-max-wrapper input,
#block-views-exp-calendar-full-page-1 #edit-field-date-value-min-wrapper input {
  background: url(images/cal.jpg);
  width: 126px;
  height: 23px;
  border: none;
  float: left;
  margin-right: 0px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* line 1293, style.scss */
#block-views-exp-calendar-full-page-1 #edit-field-date-value-max-wrapper,
#block-views-exp-calendar-full-page-1 #edit-field-date-value-min-wrapper {
  float: left;
}

/* line 1297, style.scss */
#block-views-exp-calendar-full-page-1 #edit-field-date-value-max-wrapper label,
#block-views-exp-calendar-full-page-1 #edit-field-date-value-min-wrapper label {
  display: inline;
  font-family: "Lobster", serif;
  float: left;
  font-weight: normal;
  line-height: 33px;
  padding-right: 7px;
}

/* line 1308, style.scss */
.region-plan-visit .views-submit-button {
  float: right;
}

/* line 1309, style.scss */
.region-plan-visit .views-submit-button input.form-submit {
  text-transform: uppercase;
  color: #57b7b4;
  font-weight: normal;
  font-family: "Signika Negative", serif;
  background: none;
  font-size: 17px;
  border: none;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
}

/* line 1323, style.scss */
#edit-fw-wrapper {
  display: none;
}

/*
 * Upcoming Festivals
 */
/* line 1331, style.scss */
#block-views-upcoming-festivals-block {
  background-color: #c4d8e4;
  padding-bottom: 3.5rem;
  padding: 0 2.5rem 3.5rem 2.5rem;
}

/* line 1336, style.scss */
#block-views-upcoming-festivals-block img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 1341, style.scss */
#block-views-upcoming-festivals-block .hdates {
  background: #104676;
  overflow: hidden;
  padding: 13px 15px;
}

/* line 1346, style.scss */
#block-views-upcoming-festivals-block .content {
  overflow: hidden;
}

/* line 1350, style.scss */
#block-views-upcoming-festivals-block .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 1356, style.scss */
#block-views-upcoming-festivals-block .view-footer {
  text-align: center;
}

/* line 1359, style.scss */
#block-views-upcoming-festivals-block .view-footer .c-btn {
  display: inline-block;
  float: none;
}

/* line 1365, style.scss */
#block-views-upcoming-festivals-block .views-row {
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  border-bottom: 0px;
  border-top: 0px;
  clear: none;
}

@media (min-width: 965px) {
  /* line 1365, style.scss */
  #block-views-upcoming-festivals-block .views-row {
    width: calc(100% / 3 - 2%);
  }
}

/* line 1381, style.scss */
.hdates .htitle {
  float: left;
  color: white;
  font-family: "Signika Negative", serif;
  width: 170px;
  font-size: 19px;
  margin-top: 10px;
}

/* line 1390, style.scss */
.hmonth {
  color: white;
  display: block;
  text-align: center;
  margin-top: 10px;
}

/* line 1397, style.scss */
.htime {
  font-size: 18px;
  font-weight: bold;
  word-spacing: -3px;
  text-align: center;
  display: block;
  color: white;
  letter-spacing: -2px;
}

/* line 1407, style.scss */
.circle {
  float: left;
  width: 67px;
  height: 68px;
  background: #df583c;
  margin-right: 10px;
  border-radius: 50%;
}

/* line 1417, style.scss */
.specialdate .htime {
  font-size: 14px;
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: 0px;
}

/* line 1423, style.scss */
.specialdate .hmonth {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

/* line 1431, style.scss */
#block-views-upcoming-festivals-block .hdates a {
  color: white;
}

/*
 * Facebook Like
 */
/* line 1443, style.scss */
#block-block-28 {
  display: none;
}

@media (min-width: 965px) {
  /* line 1443, style.scss */
  #block-block-28 {
    background: url(images/like.png) no-repeat;
    display: block;
    width: 760px;
    height: 112px;
    margin: 0px auto;
    position: relative;
  }
}

/* line 1456, style.scss */
.fbtext {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-style: italic;
  line-height: 20px;
}

@media (min-width: 965px) {
  /* line 1456, style.scss */
  .fbtext {
    position: absolute;
    left: 155px;
    top: 34px;
  }
}

/* line 1470, style.scss */
.fbtext em {
  font-family: "Signika Negative", serif;
  font-style: normal;
}

/* line 1474, style.scss */
.fbtext span {
  font-family: "Signika Negative", serif;
  font-style: normal;
  display: block;
  font-size: 19px;
  font-weight: normal;
}

/* line 1483, style.scss */
#block-block-28 iframe {
  position: absolute;
  left: 103px;
  bottom: 80px;
}

/*
 * Photos Home Page Block
 */
/* line 1494, style.scss */
#block-views-photos-home-page-block .views-row {
  padding: 0px;
  border-bottom: 0px;
  border-top: 0px;
  margin: 0px;
  width: 100%;
  float: left;
  clear: none;
}

@media (min-width: 965px) {
  /* line 1494, style.scss */
  #block-views-photos-home-page-block .views-row {
    width: 306px;
    height: 185px;
  }
}

/* line 1508, style.scss */
#block-views-photos-home-page-block .views-row img {
  width: 100%;
  height: auto;
}

@media (min-width: 965px) {
  /* line 1508, style.scss */
  #block-views-photos-home-page-block .views-row img {
    width: auto;
  }
}

/* line 1517, style.scss */
#block-views-photos-home-page-block .content {
  margin: 30px 0px 20px 0px;
  position: relative;
  left: 5px;
}

@media (min-width: 965px) {
  /* line 1524, style.scss */
  .region-content {
    padding-left: 20px;
  }
}

/* line 1530, style.scss */
.pane-content .field-name-field-date {
  color: #104676;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px 30px 0px;
}

/* line 1531, style.scss */
.pane-content .field-name-field-date .field-label {
  display: none;
}

/* line 1540, style.scss */
.page-node-32 iframe,
.pane-content .field-name-body iframe {
  border: 8px solid #eae9e7;
}

/* line 1545, style.scss */
.page-node-32 h4 {
  font-size: 23px;
  color: #666666;
}

/* line 1550, style.scss */
.pane-node-body {
  clear: both;
}

/* line 1554, style.scss */
.pane-node-field-location-term {
  margin-bottom: 30px;
}

/* line 1556, style.scss */
.pane-node-field-location-term .pane-title {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

/* line 1564, style.scss */
.field-name-field-location-term a {
  color: #104676;
}

/*
 * Photos Styles EVENTS, FESTIVALS
 */
/* line 1572, style.scss */
.pane-events-photo {
  padding-top: 20px;
}

/* line 1574, style.scss */
.pane-events-photo img {
  width: 100%;
}

@media (min-width: 965px) {
  /* line 1574, style.scss */
  .pane-events-photo img {
    width: auto;
    float: left;
  }
}

/* line 1582, style.scss */
.pane-events-photo h2 {
  display: none;
}

/* line 1585, style.scss */
.pane-events-photo .pane-content {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

/* line 1590, style.scss */
.pane-events-photo .view-footer {
  position: absolute;
  bottom: 4px;
  right: 7px;
  z-index: 50;
  width: 156px;
  height: 45px;
  line-height: 45px;
  background: url(images/banner.png) no-repeat;
}

/* line 1599, style.scss */
.pane-events-photo .view-footer a {
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: block;
}

/* line 1606, style.scss */
.pane-events-photo .view-footer p {
  margin: 0px;
}

/* line 1612, style.scss */
.view-photo-gallery .view-header a {
  background: #104676;
  color: white;
  padding: 7px 10px;
  display: block;
  width: 120px;
  text-align: center;
}

/* Mp3 Styles */
/* line 1622, style.scss */
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #104676;
  width: 0;
}

/* line 1627, style.scss */
#panels-ipe-paneid-49 {
  clear: both;
}

/* Detail Icons */
/* line 1633, style.scss */
.panel-display {
  position: relative;
}

/* line 1636, style.scss */
.pane-festival-icons {
  background: #e2e2e2;
  border-radius: 5px;
  overflow: hidden;
  float: right;
  position: absolute;
  top: 55px;
  right: 10px;
  padding: 10px 5px;
}

/* line 1645, style.scss */
.pane-festival-icons .views-row {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}

/*
 * Sponsors Pane
 */
/* line 1657, style.scss */
.pane-sponors-test {
  padding: 10px;
  background: url(images/pat.jpg);
  position: relative;
  margin-top: 30px;
}

/* line 1662, style.scss */
.pane-sponors-test .pane-content {
  background: white;
  padding: 15px;
  overflow: hidden;
}

/* line 1667, style.scss */
.pane-sponors-test .views-row {
  height: 85px;
  float: left;
}

/* line 1671, style.scss */
.pane-sponors-test h5 {
  text-transform: uppercase;
  color: #999999;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  padding: 0px 0px 15px 0px;
}

/* line 1679, style.scss */
.pane-sponors-test h2 {
  display: none;
}

/* line 1682, style.scss */
.pane-sponors-test img {
  padding: 0px 10px;
}

/* line 1685, style.scss */
.pane-sponors-test .view-footer {
  position: absolute;
  bottom: -15px;
  right: -13px;
  z-index: 50;
  width: 156px;
  height: 45px;
  line-height: 45px;
  background: url(images/banner.png) no-repeat;
}

/* line 1694, style.scss */
.pane-sponors-test .view-footer a {
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: block;
}

/* line 1701, style.scss */
.pane-sponors-test .view-footer p {
  margin: 0px;
}

/* line 1707, style.scss */
.pane-node-field-sponsors-field {
  padding: 10px;
  background: url(images/pat.jpg);
  position: relative;
  margin-top: 30px;
}

/* line 1712, style.scss */
.pane-node-field-sponsors-field .pane-content {
  background: #fff;
  padding: 15px;
  overflow: hidden;
}

/* line 1716, style.scss */
.pane-node-field-sponsors-field .pane-content h5 {
  text-transform: uppercase;
  color: #999999;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  padding: 0px 0px 15px 0px;
}

@media (min-width: 0px) and (max-width: 965px) {
  /* line 1725, style.scss */
  .pane-node-field-sponsors-field table {
    width: 100% !important;
    height: auto !important;
  }
}

/* line 1731, style.scss */
.pane-node-field-sponsors-field tbody {
  border: 0px;
}

/* line 1734, style.scss */
.pane-node-field-sponsors-field #partner {
  position: absolute;
  bottom: -15px;
  right: -13px;
  z-index: 50;
  width: 156px;
  height: 45px;
  line-height: 45px;
  background: url(images/banner.png) no-repeat;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: block;
}

/*
 * Events View
 */
/* line 1756, style.scss */
.view-Events .views-row {
  padding: 20px 0px;
  clear: both;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
}

/* line 1761, style.scss */
.view-Events .views-row.views-row-last {
  border-bottom: 0px;
}

@media (min-width: 0px) and (max-width: 965px) {
  /* line 1765, style.scss */
  .view-Events .views-row .views-field-title {
    clear: both;
  }
}

/* line 1770, style.scss */
.view-Events .views-row .views-field-title a {
  font-family: "Signika Negative", serif;
  color: #333333;
  font-size: 24px;
}

/* line 1776, style.scss */
.view-Events .views-row .views-field-body {
  margin-top: 15px;
  display: block;
}

/* line 1780, style.scss */
.view-Events .views-row .views-field-field-date {
  color: #104676;
}

/* line 1784, style.scss */
.view-Events .views-field-field-featured-image-small {
  float: left;
  margin-right: 20px;
}

/* line 1790, style.scss */
.views-field-view-node a {
  color: #104676;
  font-weight: bold;
}

/*
 * HTML Elements
 */
/* line 1799, style.scss */
h1#page-title {
  font-size: 50px;
  line-height: 50px;
  color: #333333;
  font-weight: normal;
}

@media (min-width: 965px) {
  /* line 1799, style.scss */
  h1#page-title {
    margin-left: 20px;
  }
}

/*
 * Leader Board Ads
 */
/* line 1815, style.scss */
#leaderboard h2 {
  display: none;
}

/* line 1818, style.scss */
#leaderboard .block-simpleads {
  width: 728px;
  height: 90px;
  margin: 0px auto 20px auto;
}

/* line 1825, style.scss */
.block-simpleads h2 {
  display: none;
}

/* line 1829, style.scss */
#sidebar {
  width: 25.5%;
  padding: 0px 15px;
  margin: 0 auto;
}

/* line 1830, style.scss */
#sidebar .block-simpleads {
  margin: 0px 0px 0px 0px;
}

@media (min-width: 965px) {
  /* line 1829, style.scss */
  #sidebar {
    float: right;
    margin: 0;
  }
}

/*
 * Sidebar
 */
/*
 * Pushes sidebar down on pages that don't have banners
 */
/* line 1852, style.scss */
.push-down #sidebar {
  margin-top: 310px;
}

/* line 1856, style.scss */
.set-height #sec-rotator {
  height: 374px;
}

/* line 1860, style.scss */
#sidebar #block-block-45 {
  background: url(images/like-sidebar.png) top center no-repeat;
  padding-top: 145px;
}

/* line 1863, style.scss */
#sidebar #block-block-45 h3 {
  color: #335d9d;
  line-height: 20px;
  margin-top: 10px;
}

/* line 1867, style.scss */
#sidebar #block-block-45 h3 span {
  font: 17px "Quicksand", sans-serif italic;
  text-transform: uppercase;
}

/* line 1871, style.scss */
#sidebar #block-block-45 h3 strong {
  font-size: 34px;
  font-weight: normal;
}

/* line 1876, style.scss */
#sidebar #block-block-45 iframe {
  position: relative;
  top: -5px;
  left: 82px;
}

/* line 1883, style.scss */
#sidebar .block {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
}

/* line 1887, style.scss */
#sidebar .block p {
  padding: 0px;
  margin: 0px;
}

/* line 1893, style.scss */
#sidebar .first-block {
  border-top: 0px;
}

/* line 1896, style.scss */
#sidebar .last-block {
  border-bottom: 0px;
}

/*
 * Taxonomy Term Pages
 */
/* line 1904, style.scss */
.view-taxonomyterm .views-row {
  padding: 20px 0px;
  clear: both;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
}

/* line 1905, style.scss */
.view-taxonomyterm .views-row .views-field-field-featured-image-small {
  float: left;
  margin-right: 20px;
}

/* line 1913, style.scss */
.view-taxonomyterm .views-row.views-row-last {
  border-bottom: 0px;
}

/* line 1916, style.scss */
.view-taxonomyterm .views-row .views-field-title a {
  font-family: "Signika Negative", serif;
  color: #333333;
  font-size: 24px;
}

/* line 1921, style.scss */
.view-taxonomyterm .views-row .views-field-body a {
  color: #104676;
  font-weight: bold;
}

/* line 1925, style.scss */
.view-taxonomyterm .views-row .views-field-field-date {
  color: #104676;
  margin-bottom: 10px;
}

/*
 *  Custom Taxonomy View
 */
/* line 1935, style.scss */
.view-taxonomy-custom .views-row {
  padding: 20px 0px;
  clear: both;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
}

/* line 1936, style.scss */
.view-taxonomy-custom .views-row .views-field-field-featured-image-small {
  float: left;
  margin-right: 20px;
}

/* line 1944, style.scss */
.view-taxonomy-custom .views-row.views-row-last {
  border-bottom: 0px;
}

/* line 1947, style.scss */
.view-taxonomy-custom .views-row .views-field-title a {
  font-family: "Signika Negative", serif;
  color: #333333;
  font-size: 24px;
}

/* line 1952, style.scss */
.view-taxonomy-custom .views-row .views-field-body a {
  color: #104676;
  font-weight: bold;
}

/* line 1956, style.scss */
.view-taxonomy-custom .views-row .views-field-field-date {
  color: #104676;
  margin-bottom: 10px;
}

/*
 * Calendar Styles
 */
/* line 1967, style.scss */
.page-calendar #sidebar {
  display: none;
}

/* line 1970, style.scss */
.page-calendar #content {
  background-image: none;
}

@media (min-width: 965px) {
  /* line 1973, style.scss */
  .page-calendar #left {
    width: 905px;
  }
}

/* line 1980, style.scss */
.fc-event-time,
.fc-event-title {
  display: block;
  font-family: "Quicksand", sans-serif;
}

/* line 1986, style.scss */
.fc-event-time {
  font-weight: bold;
  padding-top: 0px;
}

/* line 1991, style.scss */
.fc-event-default {
  padding: 0px;
}

/* line 1995, style.scss */
.fc-event-skin {
  display: block;
  clear: both;
}

/* line 2001, style.scss */
.fc-event-default.field-shows {
  border-color: #f46970;
  border-style: solid;
  background-color: #f46970;
  color: white;
}

/* line 2006, style.scss */
.fc-event-default.field-shows .fc-event-skin,
.fc-event-default.field-shows .fc-event-time,
.fc-event-default.field-shows a {
  border-color: #f46970;
  border-style: solid;
  background-color: #f46970;
  color: white;
}

/* line 2015, style.scss */
.fc-event-default.field-fworks {
  border-color: #32abc5;
  border-style: solid;
  background-color: #32abc5;
  color: white;
}

/* line 2020, style.scss */
.fc-event-default.field-fworks .fc-event-skin,
.fc-event-default.field-fworks .fc-event-time,
.fc-event-default.field-fworks a {
  border-color: #32abc5;
  border-style: solid;
  background-color: #32abc5;
  color: white;
}

/* line 2029, style.scss */
.fc-event-default.festival {
  border-color: #6fbfaa;
  border-style: solid;
  background-color: #6fbfaa;
  color: white;
}

/* line 2034, style.scss */
.fc-event-default.festival .fc-event-skin,
.fc-event-default.festival .fc-event-time,
.fc-event-default.festival a {
  border-color: #6fbfaa;
  border-style: solid;
  background-color: #6fbfaa;
  color: white;
}

/* line 2043, style.scss */
.fc-event-default.towncenter-festivals {
  border-color: #9dc4e1;
  border-style: solid;
  background-color: #9dc4e1;
  color: white;
}

/* line 2048, style.scss */
.fc-event-default.towncenter-festivals .fc-event-skin,
.fc-event-default.towncenter-festivals .fc-event-time,
.fc-event-default.towncenter-festivals a {
  border-color: #9dc4e1;
  border-style: solid;
  background-color: #9dc4e1;
  color: white;
}

/* line 2057, style.scss */
.fc-event-default.shows {
  border-color: #f46970;
  border-style: solid;
  background-color: #f46970;
  color: white;
}

/* line 2062, style.scss */
.fc-event-default.shows .fc-event-skin,
.fc-event-default.shows .fc-event-time,
.fc-event-default.shows a {
  border-color: #f46970;
  border-style: solid;
  background-color: #f46970;
  color: white;
}

/* line 2073, style.scss */
.ui-widget-content {
  background: none;
}

/* line 2077, style.scss */
.fc-content th.ui-widget-header {
  background: #f1efea;
  padding: 10px 0px;
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  color: #666666;
  text-shadow: 1px 1px 1px #f3f2ee;
}

/* line 2086, style.scss */
table.fc-header {
  margin: 20px 0px;
}

/* line 2090, style.scss */
.view-calendar-full {
  position: relative;
}

/* line 2092, style.scss */
.view-calendar-full .view-header {
  position: absolute;
  top: -75px;
  right: 0px;
}

/* line 2096, style.scss */
.view-calendar-full .view-header ul li {
  float: left;
  list-style: none;
  cursor: pointer;
}

/* line 2104, style.scss */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #ffd00f;
  background: #ffeda3;
  color: #363636;
}

/* line 2113, style.scss */
#block-system-main .view-calendar-full .view-header p {
  font-size: 12px;
  margin: 5px 0px;
}

/* line 2117, style.scss */
#block-system-main .view-calendar-full .view-header ul li.clicked {
  background: none;
  color: #333333;
}

/* line 2123, style.scss */
#festivals {
  background: #6fbfaa;
}

/* line 2127, style.scss */
#events {
  background: #f46970;
}

/* line 2131, style.scss */
#fireworks {
  background: #32abc5;
}

/* line 2135, style.scss */
#towncenter {
  background: #9dc4e1;
}

/* line 2139, style.scss */
#events,
#festivals,
#fireworks,
#towncenter {
  color: white;
  padding: 5px 20px;
  display: block;
  float: left;
}

/* line 2149, style.scss */
.page-calendar .event-list {
  margin: 50px 0px;
}

/* line 2153, style.scss */
.event-list,
.page-calendar-list .view .tables {
  background: url(images/pat.jpg);
  display: block;
  padding: 10px;
}

/* line 2160, style.scss */
.event-list ul {
  padding: 15px;
  background: white;
}

/* line 2166, style.scss */
.page-calendar-list .view-calendar-full .views-view-grid td {
  background: white;
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}

/* line 2171, style.scss */
.page-calendar-list .view-calendar-full h3 {
  font-size: 25px;
  color: #666666;
  margin: 40px 0px 10px 0px;
}

/* line 2176, style.scss */
.page-calendar-list .view-calendar-full .views-view-grid.cols-4 td {
  width: 216px;
}

/*
 * Performers
 */
/* line 2186, style.scss */
.page-events-performers #sidebar {
  display: none;
}

/* line 2189, style.scss */
.page-events-performers #content {
  background-image: none;
}

/* line 2192, style.scss */
.page-events-performers h1 {
  margin-bottom: 10px;
}

@media (min-width: 965px) {
  /* line 2195, style.scss */
  .page-events-performers #left {
    width: 905px;
  }
}

/* line 2202, style.scss */
.view-performers .view-content ul li {
  list-style: none;
  float: left;
}

/* line 2205, style.scss */
.view-performers .view-content ul li a {
  background: #f1efea;
  padding: 10px 20px;
  display: block;
  color: #666666;
  text-shadow: 1px 1px 1px #f3f2ee;
  margin: 10px 20px 10px 0px;
  border-radius: 5px;
  border-bottom: 1px solid #e7e4db;
}

/* line 2215, style.scss */
.view-performers .view-content ul li:hover a {
  background-color: #e7e4db;
}

/*
 * News - Anounncements - Press Releases
 */
/* line 2224, style.scss */
.view-announcement .views-row .views-field-field-icon,
.view-news .views-row .views-field-field-icon {
  float: left;
  margin-right: 20px;
}

/* line 2230, style.scss */
.view-announcement .views-row,
.view-news .views-row,
.view-pressreleases .views-row {
  clear: both;
  padding: 40px 0px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin: 4px 0px;
  overflow: hidden;
}

/* line 2241, style.scss */
.view-announcement h2 a,
.view-news h2 a,
.view-pressreleases h2 a {
  color: #444444;
  display: block;
  margin-bottom: 10px;
}

/* line 2249, style.scss */
.view-announcement .views-row-first,
.view-news .views-row-first,
.view-pressreleases .views-row-first {
  padding-top: 20px;
  border-top: 0px;
}

/* line 2256, style.scss */
.view-announcement .views-row-last,
.view-news .views-row-last,
.view-pressreleases .views-row-last {
  padding-bottom: 20px;
  border-bottom: 0px;
}

/* line 2264, style.scss */
.view-pressreleases .views-field-view-node {
  clear: both;
  margin: 0px;
}

/* line 2269, style.scss */
.front .view-announcement {
  padding: 0 2rem;
}

/* line 2272, style.scss */
.view-announcement .views-field-view-node-1 a {
  background: #104676;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  transition: all .25s ease-in-out;
  text-transform: none;
}

/* line 50, style.scss */
.view-announcement .views-field-view-node-1 a:hover {
  background-color: #0a2b49;
  color: white;
  cursor: pointer;
}

/* line 2277, style.scss */
.node-pressrelease .field-name-field-release {
  display: none;
}

/*
 * Photo Gallery
 */
/* line 2286, style.scss */
.node-type-gallery #sidebar,
.page-media-photos #sidebar {
  display: none;
}

/* line 2291, style.scss */
.node-type-gallery #content,
.page-media-photos #content {
  background-image: none;
}

@media (min-width: 965px) {
  /* line 2296, style.scss */
  .node-type-gallery #left,
  .page-media-photos #left {
    width: 940px;
  }
}

/* line 2303, style.scss */
.node-type-gallery .region-content,
.page-media-photos .region-content {
  padding-left: 0px;
}

/* line 2308, style.scss */
.node-type-gallery h1#page-title,
.page-media-photos h1#page-title {
  margin: 0px 0px 20px 0px;
}

/* line 2313, style.scss */
.image-list ul li {
  float: left;
  width: 306px;
  height: 185px;
  list-style: none;
  position: relative;
  background: #db3434;
}

/* line 2323, style.scss */
.page-media-photos .image-list ul li:hover img {
  opacity: 0.1;
}

/* line 2326, style.scss */
.page-media-photos .image-list ul li .gallery-link {
  display: none;
}

/* line 2329, style.scss */
.page-media-photos .image-list ul li:hover .gallery-link {
  display: block;
}

/* line 2334, style.scss */
.gallery-link {
  position: absolute;
  top: 45%;
  width: 266px;
  padding: 0px 20px;
}

/* line 2339, style.scss */
.gallery-link a {
  font-family: "Signika Negative", serif;
  color: white;
  display: block;
  font-size: 20px;
  text-align: center;
}

/* line 2348, style.scss */
.pane-photo-gallery {
  clear: both;
}

/*
 * Talent Block
 */
/* line 2355, style.scss */
.page-node-3085 #sidebar {
  display: none;
}

/* line 2358, style.scss */
.page-node-3085 #content {
  background-image: none;
}

@media (min-width: 965px) {
  /* line 2361, style.scss */
  .page-node-3085 #left {
    width: 940px;
  }
}

/* line 2368, style.scss */
.view-talent .views-row {
  position: relative;
  overflow: hidden;
  width: 300px;
}

/* line 2373, style.scss */
.view-talent .views-field-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 51, 51, 0.8);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-right: 1px solid #0a2b49;
}

/* line 2382, style.scss */
.view-talent .views-field-title a {
  color: #fff;
  font-size: 0.9em;
}

/* line 2387, style.scss */
.view-talent img {
  max-width: 100%;
}

/*
 * Resort Restaurants
 */
/* line 2396, style.scss */
.page-info-resort-restaurants #sidebar {
  display: none;
}

/* line 2399, style.scss */
.page-info-resort-restaurants #content {
  background-image: none;
}

/* line 2402, style.scss */
.page-info-resort-restaurants h1 {
  margin-bottom: 10px;
}

@media (min-width: 965px) {
  /* line 2405, style.scss */
  .page-info-resort-restaurants #left {
    width: 905px;
  }
}

/* line 2413, style.scss */
.view-Restaurant table tr {
  border-bottom: 1px dashed #bebebe;
}

/* line 2415, style.scss */
.view-Restaurant table tr.odd {
  background: url(images/dotted.png) repeat-x;
}

/* line 2418, style.scss */
.view-Restaurant table tr.even {
  background: transparent;
}

/* line 2422, style.scss */
.view-Restaurant .views-field-address {
  width: 250px;
}

/* line 2425, style.scss */
.view-Restaurant table td {
  padding: 15px;
}

/* line 2428, style.scss */
.view-Restaurant .fn {
  font-weight: bold;
}

/*
 * Locations Page
 */
/* line 2438, style.scss */
.page-locations #sidebar {
  display: none;
}

/* line 2441, style.scss */
.page-locations #content {
  background-image: none;
}

/* line 2444, style.scss */
.page-locations h1 {
  margin-bottom: 10px;
}

@media (min-width: 965px) {
  /* line 2447, style.scss */
  .page-locations #left {
    width: 905px;
  }
}

/*
 * .view-locations-map .view-content {
 * padding: 10px;
 * background: url(images/pat.jpg);
 * overflow: hidden;
 * }
 */
/* line 2462, style.scss */
.view-locations-map .location-list {
  float: left;
  width: 350px;
  padding: 30px 35px;
}

/* line 2466, style.scss */
.view-locations-map .location-list ul {
  margin: 10px 20px;
}

/*
 * Field Collection Styles
 */
/* line 2475, style.scss */
.flist ul li {
  padding: 0px 0px;
  border-bottom: 1px solid #f5f5f5;
  list-style: none;
  width: 265px;
  float: left;
  padding: 10px 9px;
  margin-right: 10px;
}

/* line 2485, style.scss */
.field-name-field-fworks,
.view-stages {
  background: url(images/pat.jpg);
  padding: 10px;
}

/* line 2491, style.scss */
.field-name-field-fworks .view-content,
.view-stages .view-content {
  background: white;
  padding: 20px;
  overflow: hidden;
}

/* line 2498, style.scss */
.field-name-field-fworks .field-label,
.pane-stages h2 {
  font-family: "Signika Negative", serif;
  font-size: 28px;
  margin: 15px 0px;
  color: #666666;
  font-weight: normal;
}

/* line 2508, style.scss */
.not-logged-in .view-field-collection-view .views-field-nothing,
.not-logged-in .view-field-collection-view .views-field-nothing-1,
.not-logged-in .view-field-collection-view .view-footer {
  display: none;
}

/* line 2516, style.scss */
.view-stages .view-footer {
  clear: both;
}

/* line 2517, style.scss */
.view-stages .view-footer a {
  background: #104676;
  color: white;
  padding: 7px 10px;
  display: block;
  width: 80px;
  text-align: center;
}

/* line 2527, style.scss */
.view-stages table {
  width: 879px;
}

/* line 2529, style.scss */
.view-stages table td {
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 20px;
}

/*
 * Performer Styles
 */
/* line 2541, style.scss */
.node-type-performer #sidebar {
  display: none;
}

/* line 2544, style.scss */
.node-type-performer #content {
  background-image: none;
}

@media (min-width: 965px) {
  /* line 2547, style.scss */
  .node-type-performer #left {
    width: 940px;
  }
}

/* line 2552, style.scss */
.node-type-performer .region-content {
  padding-left: 0px;
}

/* line 2555, style.scss */
.node-type-performer h1#page-title {
  margin-left: 0px;
}

/* line 2558, style.scss */
.node-type-performer .panel-col-first {
  width: 100%;
}

@media (min-width: 965px) {
  /* line 2558, style.scss */
  .node-type-performer .panel-col-first {
    width: 420px;
    margin-right: 5px;
  }
}

@media (min-width: 0px) and (max-width: 965px) {
  /* line 2565, style.scss */
  .node-type-performer .panel-col-last {
    width: 100%;
    float: none;
  }
}

/* line 2571, style.scss */
.node-type-performer .field-name-field-performer-photos img {
  background: url(images/pat.jpg);
  padding: 10px;
}

/*
 * Fireworks
 */
/* line 2582, style.scss */
.node-type-fireworks #sidebar {
  display: none;
}

/* line 2585, style.scss */
.node-type-fireworks #content {
  background-image: none;
}

@media (min-width: 965px) {
  /* line 2588, style.scss */
  .node-type-fireworks #left {
    width: 940px;
  }
}

/* line 2593, style.scss */
.node-type-fireworks .region-content {
  padding-left: 0px;
}

/* line 2596, style.scss */
.node-type-fireworks h1#page-title {
  margin-left: 0px;
}

/*
 * Footer
 */
/* line 2605, style.scss */
#footer {
  background: #104676;
  padding: 20px 45px;
  font-size: 12px;
  overflow: hidden;
}

/* line 2610, style.scss */
#footer h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #57b7b4;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 2619, style.scss */
#footer .content a {
  color: white;
}

/* line 2622, style.scss */
#footer .content ul li {
  margin-bottom: 6px;
  list-style: none;
}

/* line 2629, style.scss */
.region-foot1 {
  width: 190px;
  float: left;
}

/* line 2634, style.scss */
.region-foot2 {
  float: left;
  width: 328px;
}

@media (min-width: 965px) {
  /* line 2634, style.scss */
  .region-foot2 {
    padding: 0 1rem;
  }
}

/* line 2643, style.scss */
.region-foot3 {
  float: left;
  width: 150px;
}

/* line 2648, style.scss */
.region-foot4 {
  float: left;
  width: 130px;
  margin-right: 40px;
  margin-bottom: 2rem;
}

@media (min-width: 965px) {
  /* line 2648, style.scss */
  .region-foot4 {
    margin-bottom: 0;
  }
}

/* line 2659, style.scss */
.region-foot5 {
  float: left;
  width: 160px;
}

/* line 2662, style.scss */
.region-foot5 p {
  margin: 0px;
}

@media (min-width: 0px) and (max-width: 965px) {
  /* line 2667, style.scss */
  .region-foot1,
  .region-foot2,
  .region-foot3,
  .region-foot4,
  .region-foot5 {
    float: none;
    width: 100%;
    text-align: center;
  }
}

/* line 2679, style.scss */
.app {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 965px) {
  /* line 2679, style.scss */
  .app {
    flex-direction: row;
    align-items: normal;
  }
}

/* line 2690, style.scss */
.app p {
  margin-top: 0;
}

@media (min-width: 965px) {
  /* line 2692, style.scss */
  .app__left {
    width: 60%;
  }
}

/* line 2698, style.scss */
.app__right {
  text-align: center;
  width: 40%;
}

@media (min-width: 965px) {
  /* line 2698, style.scss */
  .app__right {
    margin-top: -2rem;
  }
}

/* line 2706, style.scss */
.app__right img {
  display: inline-block;
  margin: .35rem .25rem;
}

@media (min-width: 965px) {
  /* line 2706, style.scss */
  .app__right img {
    display: inline-block;
  }
}

@media (min-width: 965px) {
  /* line 2717, style.scss */
  #block-block-31 {
    margin-top: -1.1rem;
  }
}

/** Tag **/
/* line 2725, style.scss */
#tag {
  margin: 0px auto 20px auto;
  overflow: hidden;
}

@media (min-width: 0px) and (max-width: 965px) {
  /* line 2725, style.scss */
  #tag {
    padding: 1rem;
    text-align: center;
  }
}

@media (min-width: 965px) {
  /* line 2725, style.scss */
  #tag {
    width: 970px;
  }
}

/* line 2739, style.scss */
#tagwrap {
  color: #888888;
  margin: 0 auto;
  position: relative;
  width: 100%;
  float: right;
}

/* line 2747, style.scss */
#tag p.tag {
  color: #888888;
  font-size: 10px;
  line-height: 31px;
  position: relative;
  text-transform: none;
  margin: 0 auto;
}

@media (min-width: 965px) {
  /* line 2747, style.scss */
  #tag p.tag {
    top: 4px;
    float: right;
    margin: 0;
    text-align: center;
  }
}

/* line 2764, style.scss */
#tag p.tag a {
  color: #888888;
  text-decoration: none;
}

/* line 2769, style.scss */
.waves {
  background: url("images/waves.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 25px;
  left: 0;
  position: relative;
  top: 0px;
  width: 20px;
  margin: 0 auto;
}

/* line 2780, style.scss */
.waves:hover {
  background-position: 0 -25px;
}

@media (min-width: 965px) {
  /* line 2785, style.scss */
  #copyright-text {
    float: left;
  }
}

/* line 2791, style.scss */
#copyright-text p {
  font-size: .7em;
}

/*
 * Pager
 */
/* line 2799, style.scss */
.view .item-list {
  clear: both;
}

/* line 2803, style.scss */
.item-list ul.pager {
  margin: 50px 0px 0px 0px;
  clear: both;
  height: 30px;
  border-top: 1px solid #e2e4db;
  padding-top: 20px;
}

/* line 2809, style.scss */
.item-list ul.pager li {
  background: #eeefea;
  padding: 5px;
  color: #333333;
  font-size: 12px;
  border: 1px solid #e2e4db;
}

/* line 2815, style.scss */
.item-list ul.pager li a {
  color: #333333;
}

/*
 * Search Results Page
 */
/* line 2826, style.scss */
.search-results li {
  padding: 20px 0px;
  border-bottom: 1px solid #dddddd;
}

/* line 2830, style.scss */
.search-results .search-snippet-info {
  padding: 0px;
}

/* line 2833, style.scss */
.search-results h3 {
  margin-bottom: 10px;
}

/* line 2838, style.scss */
.page-search h2 {
  margin-top: 30px;
  color: #666666;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
}

/*
 * Breadcrumbs
 */
/* line 2849, style.scss */
#breadcrumb {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 40px;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 12px;
  color: #666666;
}

/* line 2855, style.scss */
#breadcrumb a {
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 12px;
  color: #666666;
  padding: 0px 5px;
  display: inline-block;
}

/*
 * Admin Tabs
 */
/* line 2868, style.scss */
.node-type-announcement ul.tabs.primary,
.node-type-festival ul.tabs.primary,
.page-search ul.tabs.primary {
  padding: 0 0 0 1em;
}

/* line 2874, style.scss */
ul.tabs.primary {
  border-bottom: 0px;
  margin: 15px 0px;
  padding: 0px 0px;
  overflow: hidden;
}

/* line 2880, style.scss */
ul.tabs.primary li a {
  background: #104676;
  padding: 5px 10px;
  color: white;
  border: 0px;
  display: block;
  float: left;
  font-size: 13px;
}

/* line 2889, style.scss */
ul.tabs.primary li:hover a {
  background-color: #57b7b4;
}

/*
 * Web Forms
 */
/* line 2900, style.scss */
.webform-client-form .webform-component-email input,
.webform-client-form .webform-component-textfield input,
.webform-client-form textarea {
  padding: 5px;
  border: 1px solid #999999;
}

/* line 2906, style.scss */
.webform-client-form .form-item label {
  margin-bottom: 6px;
}

/* line 2909, style.scss */
.webform-client-form #edit-submit {
  background: #104676;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  transition: all .25s ease-in-out;
  text-transform: none;
}

/* line 50, style.scss */
.webform-client-form #edit-submit:hover {
  background-color: #0a2b49;
  color: white;
  cursor: pointer;
}

/* line 2911, style.scss */
.webform-client-form #edit-submit:hover {
  cursor: pointer;
  background: #da0000;
}

/*
 * Animations
 */
/* line 2924, style.scss */
#scrollers .kite.left {
  position: absolute;
  left: 30px;
  bottom: -1700px;
}

/* line 2930, style.scss */
#scrollers .kite.right {
  position: absolute;
  right: 30px;
  bottom: -2000px;
}

/* line 2936, style.scss */
#edit-field-sponsors-und .form-item {
  float: left !important;
}

/*
 * Newsletter Signup
 */
/* line 2958, style.scss */
.block-views-id-locations_map-block_1 .location-list {
  background-attachment: scroll !important;
  background-clip: border-box !important;
  background-color: transparent !important;
  background-image: url("/sites/all/themes/beachstreet/images/mshadow.png") !important;
  background-origin: padding-box !important;
  background-position: left top !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  float: left;
  height: 365px;
  padding: .5rem 0;
  width: 181px;
  box-sizing: border-box;
}

/* line 2973, style.scss */
.block-views-id-locations_map-block_1 .location-list:first-child {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

/* line 2976, style.scss */
.block-views-id-locations_map-block_1 .location-list:last-child {
  box-shadow: none;
  width: 235px;
}

/* line 2980, style.scss */
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle {
  margin: 0 0 0 -124px !important;
  width: 959px !important;
}

/* line 2984, style.scss */
.om-menu .block {
  height: auto !important;
}

/* line 2987, style.scss */
.block-views-id-locations_map-block_1 ul {
  margin: 0px 0px !important;
}

/* line 2990, style.scss */
.block-views-id-locations_map-block_1 ul li,
.block-menu_block ul.menu li,
.block-menu_block ul.menu li ul li {
  list-style: none !important;
  padding: 3px 0px;
}

/* line 2997, style.scss */
.block-views-id-locations_map-block_1 .views-field.views-field-name-1 {
  line-height: 0.9;
  margin-bottom: 8px;
}

/* line 3001, style.scss */
.block-views-id-locations_map-block_1 .location-list > h3 {
  color: #fff;
  padding: 0 1rem;
}

/* line 3005, style.scss */
.block-views-id-locations_map-block_1 ul li {
  padding: 3px 1rem 3px 1rem;
}

/* line 3008, style.scss */
.block-menu_block ul.menu li ul li {
  padding: 3px 1rem 3px 1rem;
}

/* line 3011, style.scss */
.menu-block-2 ul li,
.menu-block-3 ul li {
  padding: 3px 6% 3px 25px !important;
}

/* line 3015, style.scss */
#om-maximenu-primary-menu .om-maximenu-content .group .views-row {
  padding: 3px 6% 3px 25px !important;
}

/* line 3018, style.scss */
.block-menu_block ul.menu {
  margin-left: 0px !important;
}

/* line 3021, style.scss */
.block-views-id-locations_map-block_1 ul li:hover,
.block-menu_block ul.menu li ul li:hover,
.menu-block-2 ul li:hover,
.menu-block-3 ul li:hover,
#om-maximenu-primary-menu .om-maximenu-content .group .views-row:hover {
  background: none repeat scroll 0 0 #104676;
  color: #fff !important;
}

/* line 3029, style.scss */
.block-views-id-locations_map-block_1 ul li:hover a,
.block-menu_block ul.menu li ul li:hover a,
#om-maximenu-primary-menu .om-maximenu-content .group .views-row:hover a,
.menu-block-2 ul li:hover a,
.menu-block-3 ul li:hover a {
  color: #fff !important;
}

/* line 3036, style.scss */
.block.block-menu_block.block-menu_block-id-1.first.last {
  width: 100% !important;
}

/* line 3039, style.scss */
.group.group0 > h3,
.group.group1 > h3,
.group.group2 > h3 {
  padding-left: 25px;
}

/* line 3044, style.scss */
.om-maximenu-content .group.group2 {
  width: 304px !important;
}

/* line 3050, style.scss */
.leaf-events .om-maximenu-middle .om-maximenu-middle-right .block-menu_block-id-2 .content,
.leaf-events .om-maximenu-middle .om-maximenu-middle-right .block-menu_block-id-3 .content,
.block-views-id-menu_event_list-block .group,
.om-menu .block.first {
  padding: 0 !important;
}

/* line 3064, style.scss */
.leaf-events .om-maximenu-middle .om-maximenu-middle-right .block-menu_block-id-2,
.leaf-events .om-maximenu-middle .om-maximenu-middle-right .block-menu_block-id-3 {
  padding-right: 0px !important;
}

/* line 3074, style.scss */
.block-views-id-menu_event_list-block {
  left: 168px !important;
}

/* line 3077, style.scss */
.leaf-events .om-maximenu-middle .om-maximenu-middle-right .block-menu_block-id-3 .content {
  width: 168px;
}

/*#menu .content li .om-maximenu-content a:hover {
  background: none repeat scroll 0 0 #c11913;
  color: #e28e8f !important;
  left: -22px;
  padding: 3px 20px 3px 22px;
  position: relative;
  width: 100%;
}*/
/******************* changes***********************************************************/
/* line 3095, style.scss */
.appbg {
  background: url("images/freeapp.jpg");
  height: 228px;
}

/* line 3099, style.scss */
.appbg > h2 {
  color: #375e9b;
  padding: 5px 10px;
  width: 160px;
}

/* line 3104, style.scss */
.appcont {
  padding: 5px 10px;
  width: 124px;
}

/* line 3108, style.scss */
.appcont > h3 {
  margin-bottom: 5px;
}

/* line 3111, style.scss */
.appcont > p {
  font-size: 13px;
}

/* line 3119, style.scss */
#block-block-57 {
  overflow: hidden;
  margin-top: 1rem;
}

@media (min-width: 965px) {
  /* line 3119, style.scss */
  #block-block-57 {
    padding: 16px 28px;
    margin-top: 0;
  }
}

@media (min-width: 965px) {
  /* line 3131, style.scss */
  #hwrap {
    display: flex;
    justify-content: space-between;
  }
}

/* line 3137, style.scss */
#block-views-today-on-beach-street-usa-block .view-footer .calbtn {
  top: -66px;
}

/* line 3143, style.scss */
#block-views-announcement-block-1 .views-field-body {
  margin-bottom: 15px;
}

/* line 3148, style.scss */
.view-announcement .views-field-body {
  margin-bottom: 1rem;
}

/******************* changes***********************************************************/
/* line 3156, style.scss */
#subForm div {
  display: flex;
  justify-content: space-between;
}

/* line 3162, style.scss */
#subForm input#furdd-furdd, #subForm input#name {
  border: 1px solid #999999;
  padding: 8px;
}

/* line 3169, style.scss */
#subForm input.fsubmit {
  background: #104676;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  transition: all .25s ease-in-out;
  text-transform: none;
}

/* line 50, style.scss */
#subForm input.fsubmit:hover {
  background-color: #0a2b49;
  color: white;
  cursor: pointer;
}

/* line 3180, style.scss */
img.file-icon {
  display: none;
}

/* line 3184, style.scss */
#block-block-52 {
  position: relative;
  z-index: 771;
}

@media (min-width: 965px) {
  /* line 3184, style.scss */
  #block-block-52 {
    height: 153px;
    width: 900px;
  }
}

/* line 3194, style.scss */
.bannerbelows {
  display: none;
}

@media (min-width: 965px) {
  /* line 3194, style.scss */
  .bannerbelows {
    display: block;
  }
}

/* line 3201, style.scss */
.bannerbelow {
  margin: auto;
}

@media (min-width: 965px) {
  /* line 3201, style.scss */
  .bannerbelow {
    width: 853px;
  }
}

/* line 3209, style.scss */
.circle-logo {
  position: absolute;
  top: 150px;
  z-index: 100;
  display: none;
}

@media (min-width: 965px) {
  /* line 3209, style.scss */
  .circle-logo {
    display: block;
  }
}

/* line 3220, style.scss */
.mobile-toggle {
  text-align: center;
  display: block;
  color: #fff;
}

@media (min-width: 965px) {
  /* line 3220, style.scss */
  .mobile-toggle {
    display: none;
  }
}

/* line 3229, style.scss */
.mobile-toggle::before {
  content: "";
  background-image: url("images/menu.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 0.7em;
  margin-right: 5px;
}

/* line 3240, style.scss */
.header-menu {
  display: none;
  overflow: hidden;
  background: #222;
}

/* line 3245, style.scss */
.header-menu .om-maximenu ul.om-menu li.om-leaf .om-link {
  height: auto;
  line-height: 1.3;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 3255, style.scss */
.header-menu #om-menu-primary-menu > li.first .header-arrow {
  display: none;
}

/* line 3259, style.scss */
.header-menu #om-menu-primary-menu > li.first img {
  margin-left: 1rem;
}

/* line 3264, style.scss */
.header-menu .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf,
.header-menu .om-maximenu.om-maximenu-block ul.om-menu {
  float: none;
}

/* line 3270, style.scss */
.header-banner {
  padding: 0.75rem 0;
}

/* line 3274, style.scss */
.header--mobile {
  background: #000;
}

@media (min-width: 965px) {
  /* line 3274, style.scss */
  .header--mobile {
    display: none;
  }
}

/* line 3282, style.scss */
.header--mobile .om-maximenu ul.om-menu li.om-leaf {
  height: auto;
  overflow: hidden;
}

/* line 3287, style.scss */
.header--mobile .om-maximenu-content {
  display: none;
  position: static;
}

/* line 3292, style.scss */
.header--mobile .om-maximenu-no-style .om-maximenu-content {
  top: initial;
  left: initial;
  background: none;
  clear: both;
  box-shadow: inset 0 10px 20px -10px rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 3302, style.scss */
.header--mobile #block-megamenu-main-menu {
  display: none;
}

/* line 3306, style.scss */
.header--mobile #block-om-maximenu-om-maximenu-1 > h2 {
  display: none;
}

/* line 3310, style.scss */
.header--mobile #om-maximenu-primary-menu .leaf-locations .om-maximenu-middle {
  margin: 0 !important;
  width: 100% !important;
}

/* line 3315, style.scss */
.header--mobile .block-views-id-locations_map-block_1 .location-list {
  width: 100%;
  float: none;
  height: auto;
}

/* line 3321, style.scss */
.header--mobile #om-maximenu-primary-menu .om-maximenu-middle {
  background: transparent;
}

/* line 3325, style.scss */
.header--mobile .block.block-menu_block.block-menu_block-id-1.first,
.header--mobile #om-maximenu-primary-menu .om-maximenu-middle {
  width: 100% !important;
}

/* line 3330, style.scss */
.header--mobile .om-menu > .om-leaf {
  border-bottom: 1px solid #333;
  width: 100%;
}

/* line 3334, style.scss */
.header--mobile .om-menu > .om-leaf > a {
  color: #fff;
  display: block;
  width: 100%;
}

/* line 3341, style.scss */
.header--mobile .block-menu_block ul.menu li ul li,
.header--mobile .block-views-id-locations_map-block_1 ul li {
  padding: 3px 30px 3px 32px !important;
}

/* line 3345, style.scss */
.header--mobile .block-menu_block ul.menu li ul li a,
.header--mobile .block-views-id-locations_map-block_1 ul li a {
  font-size: 0.8rem;
  color: #aaa;
}

/* line 3351, style.scss */
.header--mobile .block-views-id-locations_map-block_1 .location-list > h3 {
  font-size: 0.9rem;
  padding-left: 30px !important;
  font-family: "Quicksand", sans-serif;
}

/* line 3357, style.scss */
.header--mobile .om-maximenu ul.om-menu li.om-leaf:hover .om-maximenu-content-nofade {
  display: none;
}

/* line 3361, style.scss */
.header--mobile .header-arrow {
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: 19px;
  top: 9px;
  z-index: 5;
  display: block;
  height: 30px;
  width: 30px;
  background-image: url("images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  background-color: #111;
  border-bottom: 1px solid #222;
}

/* line 3378, style.scss */
.header--mobile .header-arrow.is-hidden {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 3387, style.scss */
.header--mobile .block-menu_block-id-2,
.header--mobile .block-menu_block-id-3 {
  display: none !important;
}

@media (min-width: 0px) and (max-width: 965px) {
  /* line 3393, style.scss */
  iframe {
    width: 100%;
    height: auto;
  }
}

/* line 3400, style.scss */
.mobile-calendar-view ul {
  margin: 0px;
  padding: 0px;
}

/* line 3404, style.scss */
.mobile-calendar-view ul li {
  list-style: none;
  clear: both;
  border-bottom: #ddd dashed 1px;
  background: url("../images/li-icon.png") no-repeat right;
  padding: 0.75rem 0;
  overflow: hidden;
  margin: 0;
}

/* line 3413, style.scss */
.mobile-calendar-view ul li .mobile-calender-view-image-wrapper {
  float: left;
  margin-right: 11px;
}

/* line 3417, style.scss */
.mobile-calendar-view ul li .mobile-calender-view-title-wrapper .field-content a {
  font-size: 18px;
  color: #526666;
  font-weight: 700;
}

/* line 3428, style.scss */
.mobile-calendar-view ul li .mobile-calender-view-date {
  font-size: 14px;
  color: #ff3333;
}

/* line 3433, style.scss */
.view-mobile-calender-view-test {
  display: block;
}

@media (min-width: 965px) {
  /* line 3433, style.scss */
  .view-mobile-calender-view-test {
    display: none;
  }
}

/* line 3441, style.scss */
.page-calendar .region-content > div:last-child {
  display: block;
}

@media (min-width: 965px) {
  /* line 3441, style.scss */
  .page-calendar .region-content > div:last-child {
    display: none;
  }
}

/* line 3448, style.scss */
.page-calendar .region-content > div:last-child h2 {
  display: none;
}

/* line 3453, style.scss */
.page-calendar #block-system-main {
  display: none;
}

@media (min-width: 965px) {
  /* line 3453, style.scss */
  .page-calendar #block-system-main {
    display: block;
  }
}

/* line 3461, style.scss */
.view-mobile-calender-view-test .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

/* line 3468, style.scss */
.site-title__wrap {
  background-color: #104676;
  color: #fff;
  padding: 1.25rem 1.5rem;
}

@media (min-width: 965px) {
  /* line 3468, style.scss */
  .site-title__wrap {
    padding: 1.25rem 0;
  }
}

/* line 3477, style.scss */
.site-title__wrap .wrapper {
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 965px) {
  /* line 3477, style.scss */
  .site-title__wrap .wrapper {
    justify-content: space-between;
    flex-direction: row;
  }
}

/* line 3490, style.scss */
.site-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 965px) {
  /* line 3490, style.scss */
  .site-title {
    text-align: left;
    padding: 0 1rem;
    font-size: 1.7rem;
  }
}

/* line 3502, style.scss */
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 3508, style.scss */
.today-banner {
  background-color: #104676;
  font-family: "Signika Negative", serif;
  padding: 2.5rem 3rem;
  margin-left: -3rem;
  margin-bottom: 2rem;
  position: relative;
}

@media (min-width: 965px) {
  /* line 3516, style.scss */
  .today-banner::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 80px 130px 0;
    border-color: transparent #faf9f5 transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* line 3530, style.scss */
.today-banner__day {
  color: #57b7b4;
  font-size: 2.5rem;
  line-height: 1.1;
}

/* line 3535, style.scss */
.today-banner__day span {
  color: #fff;
  font-size: 5rem;
  font-weight: 900;
  display: block;
  text-transform: uppercase;
}

/* line 3544, style.scss */
.today-banner__title {
  font-size: 2.5rem;
  color: #df583c;
  line-height: 1;
  margin-top: -5px;
}

/* Instagram feed */
/* line 3554, style.scss */
#block-views-instagram-feed-block {
  clear: both;
}

/* line 3557, style.scss */
.view-instagram-feed {
  padding: 0 2rem 2rem 2rem;
}

@media (min-width: 965px) {
  /* line 3560, style.scss */
  .view-instagram-feed .view-content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 965px) {
  /* line 3567, style.scss */
  .view-instagram-feed .view-content .views-row {
    width: calc(100% / 3);
  }
}

/* line 3574, style.scss */
.view-instagram-feed .view-content img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 965px) {
  /* line 3574, style.scss */
  .view-instagram-feed .view-content img {
    width: auto;
  }
}

/* line 3585, style.scss */
.view-instagram-feed .view-footer {
  text-align: center;
}

/* line 3588, style.scss */
.view-instagram-feed .view-footer a {
  display: inline-block;
  float: none;
}

/* line 3596, style.scss */
.social-list {
  display: flex;
  margin: 1rem auto 0;
}

@media (min-width: 965px) {
  /* line 3596, style.scss */
  .social-list {
    margin: 0;
  }
}

/* line 3604, style.scss */
.social-list__item {
  margin: 0 .25rem;
}

/* line 3607, style.scss */
.social-list__item a {
  width: 38px;
  height: 38px;
  display: block;
}

/* line 3614, style.scss */
.social-list--facebook {
  background: url("images/facebook_icon.png");
}

/* line 3618, style.scss */
.social-list--twitter {
  background: url("images/twitter_icon.png");
}

/* line 3622, style.scss */
.social-list--instagram {
  background: url("images/instagram_icon.png");
}

/* line 4, scss/_landing-page.scss */
.landing-content {
  font-family: "Ubuntu", sans-serif;
  background-color: #faf9f5;
}

/* line 8, scss/_landing-page.scss */
.landing-content .region-content {
  padding: 0;
}

/* line 13, scss/_landing-page.scss */
.paragraphs-item-logo-banner {
  padding: 0 20px;
}

/* line 16, scss/_landing-page.scss */
.paragraphs-item-logo-banner img {
  display: block;
}

/* line 22, scss/_landing-page.scss */
.paragraphs-item-banner, .paragraphs-item-parking .field-name-field-parking-title, .paragraphs-item-tickets .field-name-field-tickets-title, .paragraphs-item-about .field-name-field-about-headline, .paragraphs-item-headliners .field-name-field-headliners-title, .paragraphs-item-free-stages .field-name-field-free-stages-title {
  background-color: #062f87;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-size: 2.45rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-bottom: 4rem;
}

/* line 40, scss/_landing-page.scss */
.paragraphs-item-banner .content {
  text-align: center;
  overflow: hidden;
}

@media (min-width: 965px) {
  /* line 40, scss/_landing-page.scss */
  .paragraphs-item-banner .content {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* line 52, scss/_landing-page.scss */
.paragraphs-item-banner a {
  background: #104676;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  transition: all .25s ease-in-out;
  text-transform: none;
  background-color: #c02426;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.45rem;
  padding: .5rem 1rem;
  display: inline-block;
  float: none;
}

/* line 50, style.scss */
.paragraphs-item-banner a:hover {
  background-color: #0a2b49;
  color: white;
  cursor: pointer;
}

/* line 61, scss/_landing-page.scss */
.paragraphs-item-banner a:hover {
  background-color: #951c1e;
}

@media (min-width: 965px) {
  /* line 52, scss/_landing-page.scss */
  .paragraphs-item-banner a {
    margin-left: 3rem;
  }
}

/* line 73, scss/_landing-page.scss */
.paragraphs-item-parking {
  margin-bottom: 4rem;
}

/* line 80, scss/_landing-page.scss */
.paragraphs-item-parking a {
  background: #104676;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  transition: all .25s ease-in-out;
  text-transform: none;
  float: none;
  margin-left: 3rem;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.45rem;
  padding: .5rem 1rem;
  background-color: #062f87;
}

/* line 50, style.scss */
.paragraphs-item-parking a:hover {
  background-color: #0a2b49;
  color: white;
  cursor: pointer;
}

/* line 90, scss/_landing-page.scss */
.paragraphs-item-parking a:hover {
  background-color: #041e56;
}

/* line 96, scss/_landing-page.scss */
.paragraphs-items-field-garages {
  padding: 0 3rem;
}

/* line 101, scss/_landing-page.scss */
.paragraphs-item-parking-garage {
  margin-bottom: 2rem;
}

/* line 105, scss/_landing-page.scss */
.field-name-field-parking-garage-headline {
  color: #c02426;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: .8rem;
}

/* line 112, scss/_landing-page.scss */
.field-name-field-parking-address {
  color: #062f87;
}

/* line 126, scss/_landing-page.scss */
.paragraphs-items-field-pricing {
  padding: 0 3rem;
  margin-bottom: 4rem;
}

/* line 131, scss/_landing-page.scss */
.paragraphs-items-field-pricing .field-items .field-item:first-child .paragraphs-item-pricing {
  padding-top: 0;
}

/* line 135, scss/_landing-page.scss */
.paragraphs-items-field-pricing .field-items .field-item:last-child .paragraphs-item-pricing {
  border-bottom: 0;
  padding-bottom: 0;
}

/* line 139, scss/_landing-page.scss */
.field-name-field-price-description {
  margin-bottom: .5rem;
}

@media (min-width: 965px) {
  /* line 139, scss/_landing-page.scss */
  .field-name-field-price-description {
    margin-bottom: 0;
  }
}

/* line 147, scss/_landing-page.scss */
.field-name-field-price {
  font-weight: bold;
}

/* line 151, scss/_landing-page.scss */
.paragraphs-item-pricing {
  padding: 2.5rem 0;
  border-bottom: 1px solid #c02426;
}

/* line 155, scss/_landing-page.scss */
.paragraphs-item-pricing .content {
  color: #062f87;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 965px) {
  /* line 155, scss/_landing-page.scss */
  .paragraphs-item-pricing .content {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

/* line 177, scss/_landing-page.scss */
.paragraphs-item-about .field-name-field-about-text,
.paragraphs-item-about .field-name-field-about-images,
.paragraphs-item-about .field-name-field-about-links {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* line 184, scss/_landing-page.scss */
.paragraphs-item-about .field-name-field-about-text {
  color: #062f87;
  font-weight: 500;
  line-height: 1.5;
}

/* line 191, scss/_landing-page.scss */
.paragraphs-item-about .field-name-field-about-images {
  margin-bottom: 2rem;
}

@media (min-width: 965px) {
  /* line 194, scss/_landing-page.scss */
  .paragraphs-item-about .field-name-field-about-images .field-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* line 202, scss/_landing-page.scss */
.paragraphs-item-about .field-name-field-about-images .field-items .field-item {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 965px) {
  /* line 202, scss/_landing-page.scss */
  .paragraphs-item-about .field-name-field-about-images .field-items .field-item {
    text-align: left;
    padding: 0 1% 0 1%;
    width: calc(100% / 3 - 6%);
    margin-bottom: 0;
  }
}

/* line 214, scss/_landing-page.scss */
.paragraphs-item-about .field-name-field-about-images .field-items .field-item img {
  display: inline-block;
  border: 5px solid #062f87;
}

/* line 222, scss/_landing-page.scss */
.paragraphs-item-about .field-name-field-about-links {
  padding-bottom: 3rem;
  padding-top: 1rem;
}

@media (min-width: 965px) {
  /* line 226, scss/_landing-page.scss */
  .paragraphs-item-about .field-name-field-about-links .field-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* line 233, scss/_landing-page.scss */
.paragraphs-item-about .field-name-field-about-links .field-items .field-item {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 965px) {
  /* line 233, scss/_landing-page.scss */
  .paragraphs-item-about .field-name-field-about-links .field-items .field-item {
    padding: 0 1% 0 1%;
    width: calc(100% / 3 - 6%);
    margin-bottom: 0;
  }
}

/* line 247, scss/_landing-page.scss */
.paragraphs-item-about a {
  color: #c02426;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 253, scss/_landing-page.scss */
.paragraphs-item-about a:hover {
  color: #951c1e;
}

/* line 266, scss/_landing-page.scss */
.paragraphs-item-headliners img {
  border: 5px solid #062f87;
  display: inline-block;
  margin-bottom: 2rem;
}

/* line 272, scss/_landing-page.scss */
.paragraphs-item-headliners a {
  background: #104676;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  transition: all .25s ease-in-out;
  text-transform: none;
  float: none;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.45rem;
  padding: .5rem 1rem;
  background-color: #062f87;
}

/* line 50, style.scss */
.paragraphs-item-headliners a:hover {
  background-color: #0a2b49;
  color: white;
  cursor: pointer;
}

/* line 281, scss/_landing-page.scss */
.paragraphs-item-headliners a:hover {
  background-color: #041e56;
}

/* line 286, scss/_landing-page.scss */
.paragraphs-item-headliners .field-name-field-headliner {
  padding: 1rem 3rem;
}

@media (min-width: 965px) {
  /* line 286, scss/_landing-page.scss */
  .paragraphs-item-headliners .field-name-field-headliner {
    padding: 1rem 7rem;
  }
}

/* line 293, scss/_landing-page.scss */
.paragraphs-item-headliners .field-name-field-headliner > .field-items {
  text-align: center;
}

@media (min-width: 965px) {
  /* line 293, scss/_landing-page.scss */
  .paragraphs-item-headliners .field-name-field-headliner > .field-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* line 302, scss/_landing-page.scss */
.paragraphs-item-headliners .field-name-field-headliner > .field-items > .field-item {
  margin-bottom: 5rem;
}

/* line 307, scss/_landing-page.scss */
.paragraphs-item-headliners .field-name-field-headliner .field-name-field-artist-name {
  color: #c02426;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

/* line 325, scss/_landing-page.scss */
.paragraphs-item-free-stages .paragraphs-items-field-free-stages {
  padding: 0 3rem;
}

/* line 329, scss/_landing-page.scss */
.paragraphs-item-free-stages .field-name-field-free-stages {
  margin-bottom: 4rem;
}

@media (min-width: 965px) {
  /* line 332, scss/_landing-page.scss */
  .paragraphs-item-free-stages .field-name-field-free-stages > .field-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* line 339, scss/_landing-page.scss */
.paragraphs-item-free-stages .field-name-field-free-stages > .field-items > .field-item {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 965px) {
  /* line 339, scss/_landing-page.scss */
  .paragraphs-item-free-stages .field-name-field-free-stages > .field-items > .field-item {
    padding: 0 1% 0 1%;
    width: calc(100% / 4 - 6%);
    margin-bottom: 0;
  }
}

/* line 353, scss/_landing-page.scss */
.paragraphs-item-free-stages .field-name-field-stage-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #c02426;
}

/* line 359, scss/_landing-page.scss */
.paragraphs-item-free-stages .paragraphs-item-free-stage-bands {
  padding: .5rem 0;
  color: #062f87;
}

/* line 368, scss/_landing-page.scss */
.paragraphs-item-sponsors {
  margin: 0 3rem;
  border: 10px solid #062f87;
  margin-bottom: 4rem;
  background-color: #fff;
}

/* line 374, scss/_landing-page.scss */
.paragraphs-item-sponsors .field-name-field-sponsors-title {
  color: #c02426;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 383, scss/_landing-page.scss */
.paragraphs-item-sponsors .field-name-field-sponsor-images {
  padding-bottom: 2rem;
}

/* line 386, scss/_landing-page.scss */
.paragraphs-item-sponsors .field-name-field-sponsor-images .field-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* line 392, scss/_landing-page.scss */
.paragraphs-item-sponsors .field-name-field-sponsor-images .field-items .field-item {
  margin: 1rem;
}

/* line 404, scss/_landing-page.scss */
.paragraphs-item-countdown .field-name-field-countdown-title {
  color: #c02426;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

@media (min-width: 965px) {
  /* line 404, scss/_landing-page.scss */
  .paragraphs-item-countdown .field-name-field-countdown-title {
    font-size: 3.5rem;
  }
}

/* line 419, scss/_landing-page.scss */
.paragraphs-item-countdown .field-name-field-countdown-date .field-items .field-item:first-child {
  display: none;
}

/* line 426, scss/_landing-page.scss */
.c-clock {
  padding: 0 3rem 6rem;
}

@media (min-width: 965px) {
  /* line 426, scss/_landing-page.scss */
  .c-clock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* line 435, scss/_landing-page.scss */
.c-clock__item {
  width: calc(100% - 30px);
  text-align: center;
  margin-bottom: 2rem;
  border: 15px solid #062f87;
  border-radius: 10px;
}

@media (min-width: 965px) {
  /* line 435, scss/_landing-page.scss */
  .c-clock__item {
    margin-bottom: 0;
    width: calc(100% / 3 - 6%);
  }
}

/* line 448, scss/_landing-page.scss */
.c-clock__item span {
  font-size: 9rem;
  text-transform: uppercase;
  color: #c02426;
  font-weight: bold;
  display: block;
  padding-top: 1rem;
}

/* line 458, scss/_landing-page.scss */
.c-clock__label {
  color: #062f87;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
