$main-color: #104676;
$light-blue: #57b7b4;
$faded-blue: #c4d8e4;
$body-bg: #e7ecf1;
$red: #df583c;
// $patua-font: "Patua One", serif;
$quick-font: "Quicksand", sans-serif;
$primary-font: "Signika Negative", serif;
$patua-font: $primary-font;
$ubuntu-font: 'Ubuntu', sans-serif;

@mixin bp($point) {
  @if $point == papa-bear {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == mama-bear {
    // @media (min-width: 769px) { @content; }
    @media (min-width: 965px) {
      @content;
    }
  } @else if $point == baby-bear {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == target-baby-bear {
    @media (min-width: 0px) and (max-width: 965px) {
      @content;
    }
  }
}

/*****  MIXINS  ******/

@mixin redBtn {
  background: $main-color;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  display: block;
  float: left;
  text-align: center;
  border: 0px;
  font-size: .95rem;
  font-weight: 600;
  font-family: $quick-font;
  transition: all .25s ease-in-out;
  text-transform: none;

  &:hover {
    background-color: darken($main-color, 10%);
    color: white;
    cursor: pointer;
  }
}

@mixin redBtnH {
  cursor: pointer;
  background: #da0000;
}

@mixin anim {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


* {
  margin: 0px;
  padding: 0px;
}

/*
 * 1002px
 */

html {
  overflow-y: auto;
}

html body.admin-menu.html {
  margin: 109px 0px 0px 0px !important;
}

html body.html {
  background: $body-bg;
  font-family: $quick-font;
  font-weight: 600;

  @include bp(mama-bear) {
    margin: 80px 0px 0px 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $patua-font;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: $main-color;
  transition: all .25s ease-in-out;

  &:hover {
    color: $light-blue;
  }
}

img {
  height: auto;
  max-width: 100%;
}


.c-btn {
  @include redBtn;
}

/*
 * Header
 */

#header {
  display: none;

  @include bp(mama-bear) {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: $main-color;
    z-index: 991;
    -moz-box-shadow: 0 1px 7px #202020;
    -webkit-box-shadow: 0 1px 7px #202020;
    box-shadow: 0 1px 7px #202020;
  }
}

#block-system-main-menu {
  overflow: hidden;
  h2 {
    display: none;
  }
}

body.admin-menu #header {
  top: 30px;
}

#header .section {
  width: 970px;
  margin: 0px auto;
  height: 80px;
  position: relative;
}

#mega {
  width: 1006px;
  *width: 1400px;
  position: absolute;
  height: 0px;
  top: 79px;
  left: -20px;
}

.om-maximenu ul.om-menu {
  list-style: none;
  height: auto;

  @include bp(mama-bear) {
    height: 30px;
  }
}

#header #menu .content ul li.om-leaf,
.om-maximenu ul.om-menu li.om-leaf {
  float: left;
  list-style-type: disc;
  font-weight: 700;
}

#header #menu .content ul li.om-leaf {
  a.om-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $quick-font;
    display: block;
    float: left;
    margin: 0px 22px 0px 0px;
    height: 40px;
    line-height: 40px;
    padding: 20px 20px 20px 0px;
    background: url(images/narrow-blue.png) right 52% no-repeat;
  }
  &:hover a.om-link {
    color: $light-blue;
    font-weight: 700;
  }
}

#header #menu .content ul li a.link-home {
  background: url("/sites/all/themes/beachstreet/images/narrow-blue.png")
    no-repeat scroll 21px 52% transparent !important;
  padding-right: 3px !important;
  width: 26px;
}

#menu {
  float: left;
  .content a {
    color: white;
    font-size: 12px;
    font-family: $quick-font;
  }
  .content a:hover {
    color: #630000;
  }
  h2 {
    display: none;
  }
}

.om-menu .block {
  &.last {
    background: none;
    padding: 0px;
  }
  padding: 10px;
  background: url(images/mshadow.png) top right no-repeat;
  height: 350px;
  &.first {
    padding: 10px 0px 10px 10px;
    *padding: 0px 0px 10px 0px;
    background: none;
  }
}

#om-maximenu-primary-menu {
  .om-maximenu-content {
    &.short .block-menu_block-id-1 {
      height: auto;
    }
    &.wide .block-menu_block-id-1 {
      background: url(images/mshadow.png) top right no-repeat;
      height: 350px;
    }
  }
  .om-menu .block-menu_block-id-1 {
    float: left;
  }
  .om-maximenu-middle {
    width: 180px;
    background: $light-blue;
    box-shadow: 0px 3px 10px #222222;
  }
  .om-maximenu-content.wide .om-maximenu-middle {
    width: 1006px;
  }
}

#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle {
  width: 1000px;
  margin: 0 0 0 -134px;
  & .block-menu .content > ul.menu {
    & > li {
      float: left;
      width: 200px;
      margin: 0 18px;
      list-style: none;
      & > a {
        font-size: 17px;
        font-weight: bold;
      }
      & > ul.menu {
        margin-left: 10px;
        & > li {
          list-style-type: disc;
          list-style-image: none;
          color: #fff;
        }
      }
    }
    & > li.first {
      display: none;
    }
  }
}
.om-maximenu-content.wide {
  width: 1006px;
}

.om-maximenu-no-style .om-maximenu-content {
  top: 80px;
  left: -20px;
  background: url(images/mshadow.png) 150px 0px no-repeat;
}

.om-maximenu-content .block .title {
  display: none;
}

.block-views-id-menu_event_list-block {
  display: none;
  float: left;
  width: 840px;
}

.om-maximenu-content .group {
  width: 285px;
  *width: 200px;
  float: left;
  height: 350px;
  padding: 10px 30px 10px 0px;
  background: url(images/mshadow.png) top right no-repeat;
  &.group2 {
    padding-right: 0px;
    background: none;
    width: 200px;
  }
  ul li {
    list-style: none;
  }
}

#om-maximenu-primary-menu .om-maximenu-content .group {
  h3 a {
    font-weight: bold;
    font-size: 17px;
  }
  .views-row {
    line-height: 17px;
  }
}

.om-maximenu-no-style .om-maximenu-middle-right {
  padding: 0px;
  *width: 1200px;
}

.om-maximenu-open {
  display: none;
}

.leaf-info {
  .menu-mlid-260,
  .menu-mlid-275,
  .menu-mlid-9650,
  .menu-mlid-9872,
  .menu-mlid-9873 {
    display: none;
  }
}

.leaf-news {
  .menu-mlid-260,
  .menu-mlid-9649,
  .menu-mlid-9650,
  .menu-mlid-9872,
  .menu-mlid-9873 {
    display: none;
  }
}

.leaf-media {
  .menu-mlid-260,
  .menu-mlid-275,
  .menu-mlid-9649,
  .menu-mlid-9872,
  .menu-mlid-9873 {
    display: none;
  }
}

.leaf-sponsors {
  .menu-mlid-275,
  .menu-mlid-9649,
  .menu-mlid-9650,
  .menu-mlid-9872,
  .menu-mlid-9873 {
    display: none;
  }
}

.leaf-events {
  .menu-mlid-260,
  .menu-mlid-275,
  .menu-mlid-9649,
  .menu-mlid-9650,
  .menu-mlid-9873,
  .menu-mlid-9872 a {
    display: none;
  }
}

.leaf-info .menu-mlid-9649 a,
.leaf-media .menu-mlid-9650 a,
.leaf-news .menu-mlid-275 a,
.leaf-sponsors .menu-mlid-260 a {
  display: none;
}

.block-menu_block ul.menu li {
  list-style: none;
  color: white;
  margin: 0px;
  padding: 0px;
  ul {
    li {
      list-style: disc;
      color: white;
      padding: 0px;
      margin: 0px;
      &.expanded {
        // padding: 0px;
        margin: 0px;
      }
      a {
        display: block;
        padding: 3px 0px;
      }
    }
    *margin-left: 0px;
  }
}

.om-maximenu-middle .block-menu_block {
  height: auto;
}

.block-menu_block ul.menu {
  margin-left: 12px;
}

.region-topheader {
  float: right;
}

html body.admin-menu {
  margin-top: 110px;
}

#logo {
  position: absolute;
  left: 50%;
  margin-left: -134px;
  top: 0px;
  z-index: 500;

  @include bp(mama-bear) {
    right: 0;
    left: initial;
    margin-left: 0;
  }
}

.logo_wrap {
  margin: 0 auto;
  position: relative;

  @include bp(mama-bear) {
    width: 970px;
  }
}

.front #logo {
  position: absolute;
  left: 50%;
  margin-left: -134px;
  top: 0px;
  z-index: 500;
  width: 268px;
  height: 308px;
  -webkit-animation: slideDown 0.7s ease-in-out;
  -moz-animation: slideDown 0.7s ease-in-out 0s;

  @include bp(mama-bear) {
    left: auto;
    right: -5px;
    margin-left: 0;
  }
}

/*
 * Search Block
 */

#block-search-form {
  position: absolute;
  top: 27px;
  *top: 27px;
  right: 0px;
  width: 252px;
  height: 26px;
  .search-form {
    margin-bottom: 0px;
  }
}

#edit-search-block-form--2 {
  /*
* Remove default
*/
  -webkit-appearance: none;
  border: none;
  width: 207px;
  height: 26px;
  *width: 200px;
  *height: 22px;
  float: left;
  display: block;
  padding-left: 9px;
}

#block-search-form input#edit-submit {
  width: 34px;
  height: 26px;
  background: url(images/go.jpg) no-repeat;
  border: 0px;
  text-indent: -9999px;
  float: left;
  font-size: 0;
  display: block;
  line-height: 0;
}

/*
 * Social Icons
 */

#block-block-26 {
  position: absolute;
  top: 27px;
  right: 260px;
}

#fb,
#tw,
#yt {
  width: 26px;
  height: 26px;
  background: url(images/social-icons.png) 0px 0px no-repeat;
  text-indent: -9999px;
  float: left;
  margin-left: 5px;
  list-style: none;
}

#fb a,
#tw a,
#yt a {
  display: block;
}

#fb {
  background-position: 0px -26px;
}

#yt {
  background-position: 0px -52px;
}

#footer {
  #fb,
  #tw,
  #yt {
    margin-left: 10px;
  }
}

#block-block-32 .content ul {
  margin: 5px 0px 0px 0px;
  @include bp(mama-bear) {
    margin: 5px 0px 0px 20px;
  }

  @include bp(target-baby-bear) {
    display: inline-block;
  }
}

/*
 * Live the Life
 */

#block-block-40 {
  position: absolute;
  right: -96px;
}

/*
 * Rotator
 */

#hider {
  overflow-x: hidden;
  overflow-y: hidden;
  background: #222222;
  height: 443px;
  position: relative;

  @include bp(mama-bear) {
    height: 543px;
  }
}

#rotator-wrapper {
  width: 100%;
  margin: 0px auto;
  height: 443px;
  position: relative;
  overflow: visible;

  @include bp(mama-bear) {
    height: 543px;
    // padding-top: 80px;
  }
}

// #rotator {
//   width: 2178px;
//   height: 463px;
//   left: -726px;

//   @include bp(mama-bear) {
//     position: absolute;
//   }
// }

#shadow {
  width: 15px;
  height: 543px;
  background: url(images/top-shadow.png) repeat-y;
  position: absolute;
  left: -15px;
  z-index: 500;
}

#rotator {

  h2 {
    display: none;
  }
  .view-content {
    .slick-slide {
      // width: 970px !important;

      // img {
      //   width: 970px;
      // }
    }
    // border: 0px;
    // box-shadow: none;
    // margin: 0px auto;
  }
}

// #next {
//   position: absolute;
//   z-index: 500;
//   width: 56px;
//   height: 68px;
//   display: block;
//   background: url(images/r-arrow.png) no-repeat;
//   text-indent: -9999px;
//   left: -56px;
//   top: 50%;
// }

/*
 * Secondary Rotator
 */

#sec-rotator {
  height: auto;
  background: #faf9f5;
  position: relative;
  overflow: hidden;
  clear: both;

  @include bp(mama-bear) {
    width: 970px;
  }

  h2 {
    display: none;
  }
  .content {
    img {
      max-width: none;
      height: 374px;

      @include bp(mama-bear) {
        width: 970px;
      }
    }
    p {
      margin: 0px;
    }
  }
}

/*
 * Content Area
 */

.region-plan-visit .home-tabs-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: $main-color;
}
.home-tabs-left {
  float: left;
  margin-right: 5px;
  width: 44%;
  margin-top: 10px;
}

.region-plan-visit .home-tabs-left p {
  margin-top: 5px;
}

.home-tabs-right {
  float: right;
  width: 54%;
}

#block-quicktabs-weekly-entertainment-guide h2 {
  display: none;
}
#block-quicktabs-weekly-entertainment-guide .home-tabs-title {
  clear: both;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto 10px;
  text-align: center;
  width: 190px;
}

#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs {
  margin-left: -24px;
  width: 407px;
}
#block-quicktabs-weekly-entertainment-guide {
  margin-top: -66px;
}

#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs li {
  display: block;
  float: left;
  margin: 0 0 11px;
}

#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs li a {
  background: none repeat scroll 0 0 #faf9f5;
  border-left: 1px solid #eeeeee;
  border-radius: 10px 10px 0 0;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #eeeeee;
  color: #1eabce;
  display: block;
  font-family: "Patua One", serif;
  font-size: 20px;
  font-weight: normal;
  margin-right: 3px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 8px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 -2px 7px #cccccc;
  -webkit-box-shadow: 0 -2px 7px #cccccc;
  -moz-box-shadow: 0 -2px 7px #cccccc;
  text-transform: uppercase;
}

#block-quicktabs-weekly-entertainment-guide ul.quicktabs-tabs li.active a {
  border-bottom: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#block-views-exp-calendar-full-page-1 .content .plan-your-visit-text {
  clear: both;
  font-size: 14px;
  line-height: 19px;
  margin: 5px 0 0;
  padding-bottom: 0;
  padding-top: 0;
}

#wrapper,
.wrapper {
  padding: 0px;

  margin: 0px auto;
  background: url(images/wrap-shadow.png);

  @include bp(papa-bear) {
    padding: 0px 16px;
    width: 970px;
  }
}

.sprinkle-wrapper {
  background: url('images/loa-sprinkles.png');
  background-repeat: repeat-x;
}

#content {
  background: #faf9f5;
  padding: 20px 0 20px 20px;
  position: relative;
  z-index: 50;
  overflow: hidden;

  @include bp(mama-bear) {
    // padding: 20px 0px 20px 0px;
    background: #faf9f5 url(images/sidebar.jpg) top right repeat-y;
  }
}

.front #content,
#leaderboard {
  background: #faf9f5;
  padding: 20px 0;
  position: relative;
  z-index: 50;
  overflow: hidden;
}

#left {
  position: relative;

  @include bp(mama-bear) {
    float: left;
    width: 69.5%;
  }
}

p {
  margin: 20px 0px;
}

.sharethis-wrapper {
  float: left;
  clear: both;

  @include bp(mama-bear) {
    float: right;
    margin-bottom: 20px;
  }
}
.pane-sharethis-sharethis-block {
}

.field-name-body {
  line-height: 22px;
  font-size: 15px;
  ul {
    margin: 10px 20px;
    li {
      margin-bottom: 8px;
    }
  }
  h2,
  h3 {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 27px;
    color: #666666;
    line-height: 27px;
  }
  h3 {
    text-transform: uppercase;
    font-family: $quick-font;
    color: $main-color;
    font-weight: bold;
    font-size: 17px;
  }
  h4 {
    font-size: 15px;
    color: #666666;
  }
}

/*
 * H2 Styles for Home Page
 */

.region-content-home .block {
  // margin: 20px 0px;
  // clear: both;
  // // overflow: hidden;

  // @include bp(mama-bear) {
  //   margin: 120px 0px;
  // }
}

#block-views-announcement-block-1 h2,
#block-views-photos-home-page-block h2,
#block-views-upcoming-festivals-block h2,
#block-views-instagram-feed-block h2,
#happening h2.main {
  color: #333333;
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  line-height: 1;
  text-align: center;
  padding: 3.2rem 0;

  @include bp(mama-bear) {
  }
}

.happening {
  padding: 0 2.5rem 3rem 2.5rem;
}
.happening__title {
  font-size: 2.5rem;
  text-align: center;
  padding: 2.6rem 0;
  font-weight: 700;
}

// #happening h2.main {
//   // padding: 0px 20px 0px 20px;
//   // text-align: center;
//   // background: #efe161;
//   // margin-top: 0px;

//   @include bp(mama-bear) {
//     text-align: left;
//     background: url(images/arrow.png) no-repeat 175px 0px #efe161;
//     padding: 0px 20px 0px 240px;
//     width: 710px;
//   }
// }

// #block-views-photos-home-page-block h2 {
//   padding: 0px 20px 0px 20px;
//   background: #558ce8;
//   margin-top: 0px;

//   @include bp(mama-bear) {
//     background: url(images/arrow.png) no-repeat 175px 0px #558ce8;
//     padding: 0px 20px 0px 240px;
//     width: 710px;

//   }
// }

#block-views-announcement-block-1 h3 {
  font-size: 2rem;
  font-weight: normal;
  a {
    color: #333333;
  }
}

.stripe {
  width: 100%;
  position: absolute;
  z-index: -100;
  height: 56px;
  *display: none;
  display: none;

  @include bp(mama-bear) {
    display: block;
  }
}

.stripe0 {
  background: #e9cf3e;
}

.stripe1 {
  background: #1996b0;
}

.stripe2 {
  background: #e00a27;
}

.stripe3 {
  background: #558ce8;
}

.stripe4 {
  display: none;
}

/*
 * Home Content Styles
 */

.region-content-home {
  .view-content {
    // .views-row {
    //   clear: both;
    //   padding: 30px 0px;
    //   border-bottom: 1px solid #dddddd;
    //   border-top: 1px solid #dddddd;
    //   margin: 4px 0px;
    //   overflow: hidden;
    // }
    // .views-row-last {
    //   border-bottom: 0px;
    // }
    // .views-row-first {
    //   border-top: 0px;
    // }
  }
  .views-field-field-icon {
    float: none;
    margin-bottom: 1rem;
    border: 10px solid $faded-blue;

    @include bp(mama-bear) {
      // padding: 0px 20px;
      float: left;
      margin-right: 20px;
      margin-bottom: 0;
    }

    img {
      margin-right: 0;
      display: block;
    }
  }
  .views-field-created {
    color: $red;
    margin-bottom: 15px;
    &.region-content-home .views-field-body {
      font-size: 16px;
      line-height: 23px;
    }
  }
  .views-field-body a {
    text-transform: uppercase;
    font-size: 13px;
    color: $main-color;
    font-weight: bold;
  }
}

#hwrap {
  margin-top: 30px;
  position: relative;
}

/*
 * What's Happening Block
 */

#block-views-today-on-beach-street-usa-block .view-header {
  // background: url(images/beachball.jpg) no-repeat;
  // width: 205px;
  // height: 231px;
  // position: relative;
  // margin: 0 auto;

  // @include bp(mama-bear) {
  //   margin: 0;
  // }
}

#ball {
  background: url(images/ball.png) no-repeat;
  width: 153px;
  height: 153px;
  position: absolute;
  top: 14px;
  left: 13px;
}

#todayon {
  width: 70px;
  height: 55px;
  font-family: $patua-font;
  color: white;
  position: absolute;
  top: 85px;
  left: 35px;
  span {
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    &.day {
      position: relative;
      top: -8px;
      left: 20px;
    }
  }
}

.region-whats-happening {
  @include clearfix;
  margin-bottom: 2rem;

  @include bp(mama-bear) {
    width: 45%;
    margin-bottom: 0;
  }
}

#block-views-today-on-beach-street-usa-block {
  h2 {
    display: none;
  }
  .view-content,
  .view-empty,
  .view-header {
    @include bp(mama-bear) {
      // float: left;
    }
  }
  .view-content,
  .view-empty {
    @include bp(mama-bear) {
      // width: 220px;
      // padding-left: 15px;
    }
  }
  .view-content .views-row {
    margin: 10px 0px;
    font-size: 1rem;
    .views-field-title a {
      color: $red;
      font-weight: bold;
    }
  }

  .view-footer {
    text-align: center;
  }
  .view-footer .calbtn {
    position: absolute;
    top: -77px;
    left: 555px;
    width: 158px;

    a {
      background: url(images/calendar-btn.png) no-repeat;
      display: block;
      height: 37px;
      color: #08596d;
      text-align: center;
      text-shadow: 1px 1px 1px #fbf397;
      font-family: $patua-font;
      line-height: 36px;
      font-size: 18px;
    }
  }
}

/*
 * Plan a Visit Block
 */

#block-block-57,
#block-block-48 {
  clear: both;
  padding: 20px;
  border: 10px solid #eaeaea;

  @include bp(mama-bear) {
    border: 10px solid $faded-blue;
    padding: 32px 35px 32px 35px;
  }
}

#furdd-furdd {
  background: none repeat scroll 0 0 #e1e1e1;
  float: left;
  width: 65%;

  @include bp(mama-bear) {
    // width: 232px !important;
  }
}
#block-block-57 .fsubmit {
  // background: none repeat scroll 0 0 $main-color !important;
  // border-radius: 5px;
  // color: #fff;
  // font-weight: bold;
  // height: 32px;
  // margin-left: 10px;
}

#block-block-48 {
  overflow: hidden;
  padding: 20px;
  margin-bottom: 1rem;

  .home-tabs-right img {
    width: 100%;
    height: auto;
  }
}

.region-plan-visit {
  width: 100%;

  @include bp(mama-bear) {
    width: 49%;
  }
}

// .front .region-plan-visit {
//   padding: 52px 35px 32px 35px;
//   width: 362px;
//   height: 179px;
//   float: right;
//   background: url(images/border.png) top left no-repeat; }

.not-front {
  #happening {
    position: absolute;
    top: 45px;
    right: 0px;
    height: auto;
    background: url(images/pat.jpg);
    padding: 10px;
    width: 392px;
  }
  #hwrap {
    background: #faf9f5;
    padding: 15px 15px 5px 15px;
    margin-top: 0px;
  }
  .region-plan-visit {
    h2,
    p {
      display: none;
    }
  }
}

.region-plan-visit {
  h2 {
    text-transform: uppercase;
    color: $light-blue;
    font-weight: normal;
  }
  p {
    color: #333333;
    font-size: 13px;
    line-height: 17px;
    margin: 7px 0px;
    font-weight: 600;
  }
  .description {
    display: none;
  }
}

#block-views-exp-calendar-full-page-1 {
  #edit-field-date-value-max-wrapper input,
  #edit-field-date-value-min-wrapper input {
    background: url(images/cal.jpg);
    width: 126px;
    height: 23px;
    border: none;
    float: left;
    margin-right: 0px;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  #edit-field-date-value-max-wrapper,
  #edit-field-date-value-min-wrapper {
    float: left;
  }
  #edit-field-date-value-max-wrapper label,
  #edit-field-date-value-min-wrapper label {
    display: inline;
    font-family: "Lobster", serif;
    float: left;
    font-weight: normal;
    line-height: 33px;
    padding-right: 7px;
  }
}

.region-plan-visit .views-submit-button {
  input.form-submit {
    text-transform: uppercase;
    color: $light-blue;
    font-weight: normal;
    font-family: $patua-font;
    background: none;
    font-size: 17px;
    border: none;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
  }
  float: right;
}

#edit-fw-wrapper {
  display: none;
}

/*
 * Upcoming Festivals
 */

#block-views-upcoming-festivals-block {
  background-color: $faded-blue;
  padding-bottom: 3.5rem;
  padding: 0 2.5rem 3.5rem 2.5rem;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
  .hdates {
    background: $main-color;
    overflow: hidden;
    padding: 13px 15px;
  }
  .content {
    overflow: hidden;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .view-footer {
    text-align: center;

    .c-btn {
      display: inline-block;
      float: none;
    }
  }

  .views-row {
    // float: left;
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    border-bottom: 0px;
    border-top: 0px;
    clear: none;

    @include bp(mama-bear) {
      // margin: 0px 15px;
      width: calc(100% / 3 - 2%);
    }
  }
}

.hdates .htitle {
  float: left;
  color: white;
  font-family: $patua-font;
  width: 170px;
  font-size: 19px;
  margin-top: 10px;
}

.hmonth {
  color: white;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.htime {
  font-size: 18px;
  font-weight: bold;
  word-spacing: -3px;
  text-align: center;
  display: block;
  color: white;
  letter-spacing: -2px;
}

.circle {
  float: left;
  width: 67px;
  height: 68px;
  background: $red;
  margin-right: 10px;
  border-radius: 50%;
}

.specialdate {
  .htime {
    font-size: 14px;
    font-weight: bold;
    word-spacing: 0px;
    letter-spacing: 0px;
  }
  .hmonth {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
  }
}

#block-views-upcoming-festivals-block {
  .hdates a {
    color: white;
  }
  .views-field-field-featured-image-small {
    // height: 173px;
  }
}

/*
 * Facebook Like
 */

#block-block-28 {
  display: none;

  @include bp(mama-bear) {
    background: url(images/like.png) no-repeat;
    display: block;
    width: 760px;
    height: 112px;
    margin: 0px auto;
    position: relative;
  }
}

.fbtext {
  font-family: $quick-font;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-style: italic;
  line-height: 20px;

  @include bp(mama-bear) {
    position: absolute;
    left: 155px;
    top: 34px;
  }

  em {
    font-family: $patua-font;
    font-style: normal;
  }
  span {
    font-family: $patua-font;
    font-style: normal;
    display: block;
    font-size: 19px;
    font-weight: normal;
  }
}

#block-block-28 iframe {
  position: absolute;
  left: 103px;
  bottom: 80px;
}

/*
 * Photos Home Page Block
 */

#block-views-photos-home-page-block {
  .views-row {
    padding: 0px;
    border-bottom: 0px;
    border-top: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    clear: none;

    @include bp(mama-bear) {
      width: 306px;
      height: 185px;
    }

    img {
      width: 100%;
      height: auto;

      @include bp(mama-bear) {
        width: auto;
      }
    }
  }
  .content {
    margin: 30px 0px 20px 0px;
    position: relative;
    left: 5px;
  }
}

.region-content {
  @include bp(mama-bear) {
    padding-left: 20px;
  }
}

.pane-content .field-name-field-date {
  .field-label {
    display: none;
  }
  color: $main-color;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px 30px 0px;
}

.page-node-32 iframe,
.pane-content .field-name-body iframe {
  border: 8px solid #eae9e7;
}

.page-node-32 h4 {
  font-size: 23px;
  color: #666666;
}

.pane-node-body {
  clear: both;
}

.pane-node-field-location-term {
  margin-bottom: 30px;
  .pane-title {
    font-family: $quick-font;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }
}

.field-name-field-location-term a {
  color: $main-color;
}

/*
 * Photos Styles EVENTS, FESTIVALS
 */

.pane-events-photo {
  padding-top: 20px;
  img {
    width: 100%;

    @include bp(mama-bear) {
      width: auto;
      float: left;
    }
  }
  h2 {
    display: none;
  }
  .pane-content {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .view-footer {
    position: absolute;
    bottom: 4px;
    right: 7px;
    z-index: 50;
    width: 156px;
    height: 45px;
    line-height: 45px;
    background: url(images/banner.png) no-repeat;
    a {
      color: white;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      display: block;
    }
    p {
      margin: 0px;
    }
  }
}

.view-photo-gallery .view-header a {
  background: $main-color;
  color: white;
  padding: 7px 10px;
  display: block;
  width: 120px;
  text-align: center;
}

/* Mp3 Styles */
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: $main-color;
  width: 0;
}

#panels-ipe-paneid-49 {
  clear: both;
}

/* Detail Icons */

.panel-display {
  position: relative;
}
.pane-festival-icons {
  background: #e2e2e2;
  border-radius: 5px;
  overflow: hidden;
  float: right;
  position: absolute;
  top: 55px;
  right: 10px;
  padding: 10px 5px;
  .views-row {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
  }
}

/*
 * Sponsors Pane
 */

.pane-sponors-test {
  padding: 10px;
  background: url(images/pat.jpg);
  position: relative;
  margin-top: 30px;
  .pane-content {
    background: white;
    padding: 15px;
    overflow: hidden;
  }
  .views-row {
    height: 85px;
    float: left;
  }
  h5 {
    text-transform: uppercase;
    color: #999999;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding: 0px 0px 15px 0px;
  }
  h2 {
    display: none;
  }
  img {
    padding: 0px 10px;
  }
  .view-footer {
    position: absolute;
    bottom: -15px;
    right: -13px;
    z-index: 50;
    width: 156px;
    height: 45px;
    line-height: 45px;
    background: url(images/banner.png) no-repeat;
    a {
      color: white;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      display: block;
    }
    p {
      margin: 0px;
    }
  }
}

.pane-node-field-sponsors-field {
  padding: 10px;
  background: url(images/pat.jpg);
  position: relative;
  margin-top: 30px;
  .pane-content {
    background: #fff;
    padding: 15px;
    overflow: hidden;
    h5 {
      text-transform: uppercase;
      color: #999999;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
      padding: 0px 0px 15px 0px;
    }
  }
  table {
    @include bp(target-baby-bear) {
      width: 100% !important;
      height: auto !important;
    }
  }
  tbody {
    border: 0px;
  }
  #partner {
    position: absolute;
    bottom: -15px;
    right: -13px;
    z-index: 50;
    width: 156px;
    height: 45px;
    line-height: 45px;
    background: url(images/banner.png) no-repeat;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: block;
  }
}

/*
 * Events View
 */

.view-Events {
  .views-row {
    padding: 20px 0px;
    clear: both;
    border-bottom: 1px dashed #cccccc;
    overflow: hidden;
    &.views-row-last {
      border-bottom: 0px;
    }

    .views-field-title {
      @include bp(target-baby-bear) {
        clear: both;
      }
    }
    .views-field-title a {
      font-family: $patua-font;
      color: #333333;
      font-size: 24px;
    }

    .views-field-body {
      margin-top: 15px;
      display: block;
    }
    .views-field-field-date {
      color: $main-color;
    }
  }
  .views-field-field-featured-image-small {
    float: left;
    margin-right: 20px;
  }
}

.views-field-view-node a {
  color: $main-color;
  font-weight: bold;
}

/*
 * HTML Elements
 */

h1#page-title {
  font-size: 50px;
  line-height: 50px;
  color: #333333;
  font-weight: normal;

  @include bp(mama-bear) {
    margin-left: 20px;
  }
}

/*
 * Leader Board Ads
 */

#leaderboard {
  h2 {
    display: none;
  }
  .block-simpleads {
    width: 728px;
    height: 90px;
    margin: 0px auto 20px auto;
  }
}

.block-simpleads h2 {
  display: none;
}

#sidebar {
  .block-simpleads {
    margin: 0px 0px 0px 0px;
  }

  width: 25.5%;
  padding: 0px 15px;
  margin: 0 auto;

  @include bp(mama-bear) {
    float: right;
    margin: 0;
  }
}

/*
 * Sidebar
 */

/*
 * Pushes sidebar down on pages that don't have banners
 */

.push-down #sidebar {
  margin-top: 310px;
}

.set-height #sec-rotator {
  height: 374px;
}

#sidebar #block-block-45 {
  background: url(images/like-sidebar.png) top center no-repeat;
  padding-top: 145px;
  h3 {
    color: #335d9d;
    line-height: 20px;
    margin-top: 10px;
    span {
      font: 17px $quick-font italic;
      text-transform: uppercase;
    }
    strong {
      font-size: 34px;
      font-weight: normal;
    }
  }
  iframe {
    position: relative;
    top: -5px;
    left: 82px;
  }
}

#sidebar .block {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  p {
    padding: 0px;
    margin: 0px;
  }
}

#sidebar .first-block {
  border-top: 0px;
}
#sidebar .last-block {
  border-bottom: 0px;
}

/*
 * Taxonomy Term Pages
 */

.view-taxonomyterm .views-row {
  .views-field-field-featured-image-small {
    float: left;
    margin-right: 20px;
  }
  padding: 20px 0px;
  clear: both;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
  &.views-row-last {
    border-bottom: 0px;
  }
  .views-field-title a {
    font-family: $patua-font;
    color: #333333;
    font-size: 24px;
  }
  .views-field-body a {
    color: $main-color;
    font-weight: bold;
  }
  .views-field-field-date {
    color: $main-color;
    margin-bottom: 10px;
  }
}

/*
 *  Custom Taxonomy View
 */

.view-taxonomy-custom .views-row {
  .views-field-field-featured-image-small {
    float: left;
    margin-right: 20px;
  }
  padding: 20px 0px;
  clear: both;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
  &.views-row-last {
    border-bottom: 0px;
  }
  .views-field-title a {
    font-family: $patua-font;
    color: #333333;
    font-size: 24px;
  }
  .views-field-body a {
    color: $main-color;
    font-weight: bold;
  }
  .views-field-field-date {
    color: $main-color;
    margin-bottom: 10px;
  }
}

/*
 * Calendar Styles
 */

.page-calendar {
  #sidebar {
    display: none;
  }
  #content {
    background-image: none;
  }
  #left {
    @include bp(mama-bear) {
      width: 905px;
    }
  }
}

.fc-event-time,
.fc-event-title {
  display: block;
  font-family: $quick-font;
}

.fc-event-time {
  font-weight: bold;
  padding-top: 0px;
}

.fc-event-default {
  padding: 0px;
}

.fc-event-skin {
  display: block;
  clear: both;
}

.fc-event-default {
  &.field-shows {
    border-color: #f46970;
    border-style: solid;
    background-color: #f46970;
    color: white;
    .fc-event-skin,
    .fc-event-time,
    a {
      border-color: #f46970;
      border-style: solid;
      background-color: #f46970;
      color: white;
    }
  }
  &.field-fworks {
    border-color: #32abc5;
    border-style: solid;
    background-color: #32abc5;
    color: white;
    .fc-event-skin,
    .fc-event-time,
    a {
      border-color: #32abc5;
      border-style: solid;
      background-color: #32abc5;
      color: white;
    }
  }
  &.festival {
    border-color: #6fbfaa;
    border-style: solid;
    background-color: #6fbfaa;
    color: white;
    .fc-event-skin,
    .fc-event-time,
    a {
      border-color: #6fbfaa;
      border-style: solid;
      background-color: #6fbfaa;
      color: white;
    }
  }
  &.towncenter-festivals {
    border-color: #9dc4e1;
    border-style: solid;
    background-color: #9dc4e1;
    color: white;
    .fc-event-skin,
    .fc-event-time,
    a {
      border-color: #9dc4e1;
      border-style: solid;
      background-color: #9dc4e1;
      color: white;
    }
  }
  &.shows {
    border-color: #f46970;
    border-style: solid;
    background-color: #f46970;
    color: white;
    .fc-event-skin,
    .fc-event-time,
    a {
      border-color: #f46970;
      border-style: solid;
      background-color: #f46970;
      color: white;
    }
  }
}

.ui-widget-content {
  background: none;
}

.fc-content th.ui-widget-header {
  background: #f1efea;
  padding: 10px 0px;
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  color: #666666;
  text-shadow: 1px 1px 1px #f3f2ee;
}

table.fc-header {
  margin: 20px 0px;
}

.view-calendar-full {
  position: relative;
  .view-header {
    position: absolute;
    top: -75px;
    right: 0px;
    ul li {
      float: left;
      list-style: none;
      cursor: pointer;
    }
  }
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #ffd00f;
  background: #ffeda3;
  color: #363636;
}

#block-system-main .view-calendar-full .view-header {
  p {
    font-size: 12px;
    margin: 5px 0px;
  }
  ul li.clicked {
    background: none;
    color: #333333;
  }
}

#festivals {
  background: #6fbfaa;
}

#events {
  background: #f46970;
}

#fireworks {
  background: #32abc5;
}

#towncenter {
  background: #9dc4e1;
}

#events,
#festivals,
#fireworks,
#towncenter {
  color: white;
  padding: 5px 20px;
  display: block;
  float: left;
}

.page-calendar .event-list {
  margin: 50px 0px;
}

.event-list,
.page-calendar-list .view .tables {
  background: url(images/pat.jpg);
  display: block;
  padding: 10px;
}

.event-list ul {
  padding: 15px;
  background: white;
}

.page-calendar-list .view-calendar-full {
  .views-view-grid td {
    background: white;
    padding: 15px;
    border-bottom: 1px solid #dddddd;
  }
  h3 {
    font-size: 25px;
    color: #666666;
    margin: 40px 0px 10px 0px;
  }
  .views-view-grid.cols-4 td {
    width: 216px;
  }
}

/*
 * Performers
 */

.page-events-performers {
  #sidebar {
    display: none;
  }
  #content {
    background-image: none;
  }
  h1 {
    margin-bottom: 10px;
  }
  #left {
    @include bp(mama-bear) {
      width: 905px;
    }
  }
}

.view-performers .view-content ul li {
  list-style: none;
  float: left;
  a {
    background: #f1efea;
    padding: 10px 20px;
    display: block;
    color: #666666;
    text-shadow: 1px 1px 1px #f3f2ee;
    margin: 10px 20px 10px 0px;
    border-radius: 5px;
    border-bottom: 1px solid #e7e4db;
  }
  &:hover a {
    background-color: #e7e4db;
  }
}

/*
 * News - Anounncements - Press Releases
 */

.view-announcement .views-row .views-field-field-icon,
.view-news .views-row .views-field-field-icon {
  float: left;
  margin-right: 20px;
}

.view-announcement .views-row,
.view-news .views-row,
.view-pressreleases .views-row {
  clear: both;
  padding: 40px 0px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin: 4px 0px;
  overflow: hidden;
}

.view-announcement h2 a,
.view-news h2 a,
.view-pressreleases h2 a {
  color: #444444;
  display: block;
  margin-bottom: 10px;
}

.view-announcement .views-row-first,
.view-news .views-row-first,
.view-pressreleases .views-row-first {
  padding-top: 20px;
  border-top: 0px;
}

.view-announcement .views-row-last,
.view-news .views-row-last,
.view-pressreleases .views-row-last {
  padding-bottom: 20px;
  border-bottom: 0px;
}

.view-pressreleases {
  .views-field-view-node {
    clear: both;
    margin: 0px;
  }
}
.front .view-announcement {
  padding: 0 2rem;
}
.view-announcement .views-field-view-node-1 a {
  @include redBtn;
}

.node-pressrelease {
  .field-name-field-release {
    display: none;
  }
}

/*
 * Photo Gallery
 */

.node-type-gallery #sidebar,
.page-media-photos #sidebar {
  display: none;
}

.node-type-gallery #content,
.page-media-photos #content {
  background-image: none;
}

.node-type-gallery #left,
.page-media-photos #left {
  @include bp(mama-bear) {
    width: 940px;
  }
}

.node-type-gallery .region-content,
.page-media-photos .region-content {
  padding-left: 0px;
}

.node-type-gallery h1#page-title,
.page-media-photos h1#page-title {
  margin: 0px 0px 20px 0px;
}

.image-list ul li {
  float: left;
  width: 306px;
  height: 185px;
  list-style: none;
  position: relative;
  background: #db3434;
}

.page-media-photos .image-list ul li {
  &:hover img {
    opacity: 0.1;
  }
  .gallery-link {
    display: none;
  }
  &:hover .gallery-link {
    display: block;
  }
}

.gallery-link {
  position: absolute;
  top: 45%;
  width: 266px;
  padding: 0px 20px;
  a {
    font-family: $patua-font;
    color: white;
    display: block;
    font-size: 20px;
    text-align: center;
  }
}

.pane-photo-gallery {
  clear: both;
}

/*
 * Talent Block
 */
.page-node-3085 #sidebar {
  display: none;
}
.page-node-3085 #content {
  background-image: none;
}
.page-node-3085 #left {
  @include bp(mama-bear) {
    width: 940px;
  }
}

.view-talent {
  .views-row {
    position: relative;
    overflow: hidden;
    width: 300px;
  }
  .views-field-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 51, 51, 0.8);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-right: 1px solid darken($main-color, 10%);
    & a {
      color: #fff;
      font-size: 0.9em;
    }
  }
  img {
    max-width: 100%;
  }
}
/*
 * Resort Restaurants
 */

.page-info-resort-restaurants {
  #sidebar {
    display: none;
  }
  #content {
    background-image: none;
  }
  h1 {
    margin-bottom: 10px;
  }
  #left {
    @include bp(mama-bear) {
      width: 905px;
    }
  }
}

.view-Restaurant {
  table tr {
    border-bottom: 1px dashed #bebebe;
    &.odd {
      background: url(images/dotted.png) repeat-x;
    }
    &.even {
      background: transparent;
    }
  }
  .views-field-address {
    width: 250px;
  }
  table td {
    padding: 15px;
  }
  .fn {
    font-weight: bold;
  }
}

/*
 * Locations Page
 */

.page-locations {
  #sidebar {
    display: none;
  }
  #content {
    background-image: none;
  }
  h1 {
    margin-bottom: 10px;
  }
  #left {
    @include bp(mama-bear) {
      width: 905px;
    }
  }
}

/*
 * .view-locations-map .view-content {
 * padding: 10px;
 * background: url(images/pat.jpg);
 * overflow: hidden;
 * }
 */

.view-locations-map .location-list {
  float: left;
  width: 350px;
  padding: 30px 35px;
  ul {
    margin: 10px 20px;
  }
}

/*
 * Field Collection Styles
 */

.flist ul li {
  padding: 0px 0px;
  border-bottom: 1px solid #f5f5f5;
  list-style: none;
  width: 265px;
  float: left;
  padding: 10px 9px;
  margin-right: 10px;
}

.field-name-field-fworks,
.view-stages {
  background: url(images/pat.jpg);
  padding: 10px;
}

.field-name-field-fworks .view-content,
.view-stages .view-content {
  background: white;
  padding: 20px;
  overflow: hidden;
}

.field-name-field-fworks .field-label,
.pane-stages h2 {
  font-family: $patua-font;
  font-size: 28px;
  margin: 15px 0px;
  color: #666666;
  font-weight: normal;
}

.not-logged-in .view-field-collection-view {
  .views-field-nothing,
  .views-field-nothing-1,
  .view-footer {
    display: none;
  }
}

.view-stages {
  .view-footer {
    a {
      background: $main-color;
      color: white;
      padding: 7px 10px;
      display: block;
      width: 80px;
      text-align: center;
    }
    clear: both;
  }
  table {
    width: 879px;
    td {
      border-bottom: 1px solid #f5f5f5;
      padding: 10px 20px;
    }
  }
}

/*
 * Performer Styles
 */

.node-type-performer {
  #sidebar {
    display: none;
  }
  #content {
    background-image: none;
  }
  #left {
    @include bp(mama-bear) {
      width: 940px;
    }
  }
  .region-content {
    padding-left: 0px;
  }
  h1#page-title {
    margin-left: 0px;
  }
  .panel-col-first {
    width: 100%;
    @include bp(mama-bear) {
      width: 420px;
      margin-right: 5px;
    }
  }
  .panel-col-last {
    @include bp(target-baby-bear) {
      width: 100%;
      float: none;
    }
  }
  .field-name-field-performer-photos img {
    background: url(images/pat.jpg);
    padding: 10px;
  }
}

/*
 * Fireworks
 */

.node-type-fireworks {
  #sidebar {
    display: none;
  }
  #content {
    background-image: none;
  }
  #left {
    @include bp(mama-bear) {
      width: 940px;
    }
  }
  .region-content {
    padding-left: 0px;
  }
  h1#page-title {
    margin-left: 0px;
  }
}

/*
 * Footer
 */

#footer {
  background: $main-color;
  padding: 20px 45px;
  font-size: 12px;
  overflow: hidden;
  h2 {
    font-family: $quick-font;
    font-weight: bold;
    color: $light-blue;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .content {
    a {
      color: white;
    }
    ul li {
      margin-bottom: 6px;
      list-style: none;
    }
  }
}

.region-foot1 {
  width: 190px;
  float: left;
}

.region-foot2 {
  float: left;
  width: 328px;

  @include bp(mama-bear) {
    padding: 0 1rem;
  }
}

.region-foot3 {
  float: left;
  width: 150px;
}

.region-foot4 {
  float: left;
  width: 130px;
  margin-right: 40px;
  margin-bottom: 2rem;

  @include bp(mama-bear) {
    margin-bottom: 0;
  }
}

.region-foot5 {
  float: left;
  width: 160px;
  p {
    margin: 0px;
  }
}

.region-foot1,
.region-foot2,
.region-foot3,
.region-foot4,
.region-foot5 {
  @include bp(target-baby-bear) {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.app {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include bp(mama-bear) {
    flex-direction: row;
    align-items: normal;
  }

  p { margin-top: 0; }

  &__left {
    @include bp(mama-bear) {
      width: 60%;
    }
  }

  &__right {
    text-align: center;
    width: 40%;

    @include bp(mama-bear) {
      margin-top: -2rem;
    }

    img {
      display: inline-block;
      margin: .35rem .25rem;

      @include bp(mama-bear) {
        display: inline-block;
      }
    }
  }
}

#block-block-31 {
  @include bp(mama-bear) {
    margin-top: -1.1rem;
  }
}

/** Tag **/

#tag {
  @include bp(target-baby-bear) {
    padding: 1rem;
    text-align: center;
  }

  margin: 0px auto 20px auto;
  overflow: hidden;

  @include bp(mama-bear) {
    width: 970px;
  }
}

#tagwrap {
  color: #888888;
  margin: 0 auto;
  position: relative;
  width: 100%;
  float: right;
}

#tag p.tag {
  color: #888888;
  font-size: 10px;
  line-height: 31px;
  position: relative;
  text-transform: none;
  margin: 0 auto;

  @include bp(mama-bear) {
    top: 4px;
    // width: 100px;
    float: right;
    margin: 0;
    text-align: center;
  }
}

#tag p.tag a {
  color: #888888;
  text-decoration: none;
}

.waves {
  background: url("images/waves.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 25px;
  left: 0;
  position: relative;
  top: 0px;
  width: 20px;
  margin: 0 auto;
}

.waves:hover {
  background-position: 0 -25px;
}


#copyright-text {
  @include bp(mama-bear) {
    float: left;
  }
}

#copyright-text p {
  font-size: .7em;
}

/*
 * Pager
 */

.view .item-list {
  clear: both;
}

.item-list ul.pager {
  margin: 50px 0px 0px 0px;
  clear: both;
  height: 30px;
  border-top: 1px solid #e2e4db;
  padding-top: 20px;
  li {
    background: #eeefea;
    padding: 5px;
    color: #333333;
    font-size: 12px;
    border: 1px solid #e2e4db;
    a {
      color: #333333;
    }
  }
}

/*
 * Search Results Page
 */

.search-results {
  li {
    padding: 20px 0px;
    border-bottom: 1px solid #dddddd;
  }
  .search-snippet-info {
    padding: 0px;
  }
  h3 {
    margin-bottom: 10px;
  }
}

.page-search h2 {
  margin-top: 30px;
  color: #666666;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
}

/*
 * Breadcrumbs
 */

#breadcrumb {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 40px;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 12px;
  color: #666666;
  a {
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 12px;
    color: #666666;
    padding: 0px 5px;
    display: inline-block;
  }
}

/*
 * Admin Tabs
 */

.node-type-announcement ul.tabs.primary,
.node-type-festival ul.tabs.primary,
.page-search ul.tabs.primary {
  padding: 0 0 0 1em;
}

ul.tabs.primary {
  border-bottom: 0px;
  margin: 15px 0px;
  padding: 0px 0px;
  overflow: hidden;
  li {
    a {
      background: $main-color;
      padding: 5px 10px;
      color: white;
      border: 0px;
      display: block;
      float: left;
      font-size: 13px;
    }
    &:hover a {
      background-color: $light-blue;
    }
  }
}

/*
 * Web Forms
 */

.webform-client-form {
  .webform-component-email input,
  .webform-component-textfield input,
  textarea {
    padding: 5px;
    border: 1px solid #999999;
  }
  .form-item label {
    margin-bottom: 6px;
  }
  #edit-submit {
    @include redBtn;
    &:hover {
      @include redBtnH;
    }
  }
}

/*
 * Animations
 */

#scrollers {
}

#scrollers .kite.left {
  position: absolute;
  left: 30px;
  bottom: -1700px;
}

#scrollers .kite.right {
  position: absolute;
  right: 30px;
  bottom: -2000px;
}

#edit-field-sponsors-und .form-item {
  float: left !important;
}

// : {
//   &:selection {
//     background: $main-color;
//     color: white;
//    /*
//   * Safari
//   */ }
//   &:-moz-selection {
//     background: $main-color;
//     color: white;
//    /*
//   * Firefox
//   */ } }

/*
 * Newsletter Signup
 */

.block-views-id-locations_map-block_1 .location-list {
  background-attachment: scroll !important;
  background-clip: border-box !important;
  background-color: transparent !important;
  background-image: url("/sites/all/themes/beachstreet/images/mshadow.png") !important;
  background-origin: padding-box !important;
  background-position: left top !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  float: left;
  height: 365px;
  padding: .5rem 0;
  width: 181px;
  box-sizing: border-box;
}
.block-views-id-locations_map-block_1 .location-list:first-child {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.block-views-id-locations_map-block_1 .location-list:last-child {
  box-shadow: none;
  width: 235px;
}
#om-maximenu-primary-menu .leaf-locations .om-maximenu-middle {
  margin: 0 0 0 -124px !important;
  width: 959px !important;
}
.om-menu .block {
  height: auto !important;
}
.block-views-id-locations_map-block_1 ul {
  margin: 0px 0px !important;
}
.block-views-id-locations_map-block_1 ul li,
.block-menu_block ul.menu li,
.block-menu_block ul.menu li ul li {
  list-style: none !important;
  padding: 3px 0px;
}

.block-views-id-locations_map-block_1 .views-field.views-field-name-1 {
  line-height: 0.9;
  margin-bottom: 8px;
}
.block-views-id-locations_map-block_1 .location-list > h3 {
  color: #fff;
  padding: 0 1rem;
}
.block-views-id-locations_map-block_1 ul li {
  padding: 3px 1rem 3px 1rem;
}
.block-menu_block ul.menu li ul li {
  padding: 3px 1rem 3px 1rem;
}
.menu-block-2 ul li,
.menu-block-3 ul li {
  padding: 3px 6% 3px 25px !important;
}
#om-maximenu-primary-menu .om-maximenu-content .group .views-row {
  padding: 3px 6% 3px 25px !important;
}
.block-menu_block ul.menu {
  margin-left: 0px !important;
}
.block-views-id-locations_map-block_1 ul li:hover,
.block-menu_block ul.menu li ul li:hover,
.menu-block-2 ul li:hover,
.menu-block-3 ul li:hover,
#om-maximenu-primary-menu .om-maximenu-content .group .views-row:hover {
  background: none repeat scroll 0 0 $main-color;
  color: #fff !important;
}
.block-views-id-locations_map-block_1 ul li:hover a,
.block-menu_block ul.menu li ul li:hover a,
#om-maximenu-primary-menu .om-maximenu-content .group .views-row:hover a,
.menu-block-2 ul li:hover a,
.menu-block-3 ul li:hover a {
  color: #fff !important;
}
.block.block-menu_block.block-menu_block-id-1.first.last {
  width: 100% !important;
}
.group.group0 > h3,
.group.group1 > h3,
.group.group2 > h3 {
  padding-left: 25px;
}
.om-maximenu-content .group.group2 {
  width: 304px !important;
}
.block.block-menu_block.block-menu_block-id-1.first {
  // width: 160px !important;
}
.leaf-events
  .om-maximenu-middle
  .om-maximenu-middle-right
  .block-menu_block-id-2
  .content,
.leaf-events
  .om-maximenu-middle
  .om-maximenu-middle-right
  .block-menu_block-id-3
  .content,
.block-views-id-menu_event_list-block .group,
.om-menu .block.first {
  padding: 0 !important;
}
.leaf-events
  .om-maximenu-middle
  .om-maximenu-middle-right
  .block-menu_block-id-2,
.leaf-events
  .om-maximenu-middle
  .om-maximenu-middle-right
  .block-menu_block-id-3 {
  padding-right: 0px !important;
}
.block-views-id-menu_event_list-block {
  left: 168px !important;
}
.leaf-events
  .om-maximenu-middle
  .om-maximenu-middle-right
  .block-menu_block-id-3
  .content {
  width: 168px;
}
/*#menu .content li .om-maximenu-content a:hover {
  background: none repeat scroll 0 0 #c11913;
  color: #e28e8f !important;
  left: -22px;
  padding: 3px 20px 3px 22px;
  position: relative;
  width: 100%;
}*/

/******************* changes***********************************************************/

.appbg {
  background: url("images/freeapp.jpg");
  height: 228px;
}
.appbg > h2 {
  color: #375e9b;
  padding: 5px 10px;
  width: 160px;
}
.appcont {
  padding: 5px 10px;
  width: 124px;
}
.appcont > h3 {
  margin-bottom: 5px;
}
.appcont > p {
  font-size: 13px;
}
// #block-block-55 {
//   @include bp(mama-bear) {
//     padding: 18px 35px;
//   }
// }
#block-block-57 {
  overflow: hidden;
  margin-top: 1rem;

  @include bp(mama-bear) {
    // background: url("/sites/all/themes/beachstreet/newapp-background.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    // height: 113px;
    padding: 16px 28px;
    // width: 375px;
    margin-top: 0;
  }
}
#hwrap {
  @include bp(mama-bear) {
    display: flex;
    justify-content: space-between;
  }
}
#block-views-today-on-beach-street-usa-block .view-footer .calbtn {
  top: -66px;
}
#block-views-announcement-block-1 {
  // margin: 10px 0;

  .views-field-body {
    margin-bottom: 15px;
  }
}

.view-announcement .views-field-body {
  margin-bottom: 1rem;
}

/******************* changes***********************************************************/

#subForm {

  div {
    display: flex;
    justify-content: space-between;
  }

  input {
    &#furdd-furdd,
    &#name {
      border: 1px solid #999999;
      padding: 8px;
      // margin-bottom: 10px;
      // width: 250px;
    }
    &.fsubmit {
      @include redBtn;
      // &:hover {
      //   @include redBtnH;
      // }
    }
  }
}
.field-content {
  // font-weight: 600;
}
img.file-icon {
  display: none;
}

#block-block-52 {
  position: relative;
  z-index: 771;

  @include bp(mama-bear) {
    height: 153px;
    width: 900px;
  }
}

.bannerbelows {
  display: none;

  @include bp(mama-bear) {
    display: block;
  }
}
.bannerbelow {
  margin: auto;

  @include bp(mama-bear) {
    width: 853px;
  }
}

.circle-logo {
  position: absolute;
  top: 150px;
  z-index: 100;
  display: none;

  @include bp(mama-bear) {
    display: block;
  }
}

.mobile-toggle {
  text-align: center;
  display: block;
  color: #fff;

  @include bp(mama-bear) {
    display: none;
  }

  &::before {
    content: "";
    background-image: url("images/menu.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 0.7em;
    margin-right: 5px;
  }
}

.header-menu {
  display: none;
  overflow: hidden;
  background: #222;

  .om-maximenu ul.om-menu li.om-leaf .om-link {
    height: auto;
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #om-menu-primary-menu > li.first {
    // display: none;

    .header-arrow {
      display: none;
    }

    img {
      margin-left: 1rem;
    }
  }

  .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf,
  .om-maximenu.om-maximenu-block ul.om-menu {
    float: none;
  }
}

.header-banner {
  padding: 0.75rem 0;
}

.header--mobile {
  background: #000;
  // text-align: center;

  @include bp(mama-bear) {
    display: none;
  }

  .om-maximenu ul.om-menu li.om-leaf {
    height: auto;
    overflow: hidden;
  }

  .om-maximenu-content {
    display: none;
    position: static;
  }

  .om-maximenu-no-style .om-maximenu-content {
    top: initial;
    left: initial;
    background: none;
    clear: both;
    box-shadow: inset 0 10px 20px -10px rgba(#000, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #block-megamenu-main-menu {
    display: none;
  }

  #block-om-maximenu-om-maximenu-1 > h2 {
    display: none;
  }

  #om-maximenu-primary-menu .leaf-locations .om-maximenu-middle {
    margin: 0 !important;
    width: 100% !important;
  }

  .block-views-id-locations_map-block_1 .location-list {
    width: 100%;
    float: none;
    height: auto;
  }

  #om-maximenu-primary-menu .om-maximenu-middle {
    background: transparent;
  }

  .block.block-menu_block.block-menu_block-id-1.first,
  #om-maximenu-primary-menu .om-maximenu-middle {
    width: 100% !important;
  }

  .om-menu > .om-leaf {
    border-bottom: 1px solid #333;
    width: 100%;

    > a {
      color: #fff;
      display: block;
      width: 100%;
    }
  }

  .block-menu_block ul.menu li ul li,
  .block-views-id-locations_map-block_1 ul li {
    padding: 3px 30px 3px 32px !important;

    a {
      font-size: 0.8rem;
      color: #aaa;
    }
  }

  .block-views-id-locations_map-block_1 .location-list > h3 {
    font-size: 0.9rem;
    padding-left: 30px !important;
    font-family: $quick-font;
  }

  .om-maximenu ul.om-menu li.om-leaf:hover .om-maximenu-content-nofade {
    display: none;
  }

  .header-arrow {
    border-radius: 50%;
    color: #fff;
    position: absolute;
    right: 19px;
    top: 9px;
    z-index: 5;
    display: block;
    height: 30px;
    width: 30px;
    background-image: url("images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
    background-color: #111;
    border-bottom: 1px solid #222;

    &.is-hidden {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .block-menu_block-id-2,
  .block-menu_block-id-3 {
    display: none !important;
  }
}

iframe {
  @include bp(target-baby-bear) {
    width: 100%;
    height: auto;
  }
}

.mobile-calendar-view ul {
  margin: 0px;
  padding: 0px;
}
.mobile-calendar-view ul li {
  list-style: none;
  clear: both;
  border-bottom: #ddd dashed 1px;
  background: url("../images/li-icon.png") no-repeat right;
  padding: 0.75rem 0;
  overflow: hidden;
  margin: 0;
}
.mobile-calendar-view ul li .mobile-calender-view-image-wrapper {
  float: left;
  margin-right: 11px;
}
.mobile-calendar-view
  ul
  li
  .mobile-calender-view-title-wrapper
  .field-content
  a {
  font-size: 18px;
  color: #526666;
  font-weight: 700;
}

.mobile-calendar-view ul li .mobile-calender-view-date {
  font-size: 14px;
  color: #ff3333;
}

.view-mobile-calender-view-test {
  display: block;

  @include bp(mama-bear) {
    display: none;
  }
}

.page-calendar .region-content > div:last-child {
  display: block;

  @include bp(mama-bear) {
    display: none;
  }

  h2 {
    display: none;
  }
}

.page-calendar #block-system-main {
  display: none;

  @include bp(mama-bear) {
    display: block;
  }
}

.view-mobile-calender-view-test
  .views-exposed-form
  .views-exposed-widget
  .form-submit {
  margin-top: 0;
}

.site-title__wrap {
  background-color: $main-color;
  color: #fff;
  padding: 1.25rem 1.5rem;

  @include bp(mama-bear) {
    padding: 1.25rem 0;
  }

  .wrapper {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bp(mama-bear) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.site-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

  @include bp(mama-bear) {
    text-align: left;
    padding: 0 1rem;
    font-size: 1.7rem;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.today-banner {
  background-color: $main-color;
  font-family: $primary-font;
  padding: 2.5rem 3rem;
  margin-left: -3rem;
  margin-bottom: 2rem;
  position: relative;

  &::after {
    @include bp(mama-bear) {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 130px 80px 130px 0;
      border-color: transparent #faf9f5 transparent transparent;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__day {
    color: $light-blue;
    font-size: 2.5rem;
    line-height: 1.1;

    span {
      color: #fff;
      font-size: 5rem;
      font-weight: 900;
      display: block;
      text-transform: uppercase;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $red;
    line-height: 1;
    margin-top: -5px;
  }
}


/* Instagram feed */
#block-views-instagram-feed-block {
  clear: both;
}
.view-instagram-feed {
  padding: 0 2rem 2rem 2rem;

  .view-content {

    @include bp(mama-bear) {
      display: flex;
      flex-wrap: wrap;
    }

    .views-row {

      @include bp(mama-bear) {
        width: calc(100% / 3);
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;

      @include bp(mama-bear) {
        width: auto;
      }
    }
  }

  .view-footer {
    text-align: center;

    a {
      display: inline-block;
      float: none;
    }
  }
}


.social-list {
  display: flex;
  margin: 1rem auto 0;

  @include bp(mama-bear) {
    margin: 0;
  }

  &__item {
    margin: 0 .25rem;

    a {
      width: 38px;
      height: 38px;
      display: block;
    }
  }

  &--facebook {
    background: url('images/facebook_icon.png');
  }

  &--twitter {
    background: url('images/twitter_icon.png');
  }

  &--instagram {
    background: url('images/instagram_icon.png');
  }

}

@import 'scss/landing-page';
